@using LawyerServices.Common.DateModels
@using LawyerServices.Common.Enumerations
@using LawyerServices.Common

@inject DialogService DialogService

<RadzenTemplateForm TItem="Appointment" Data="@model" Submit=@OnSubmit>
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="Text" />
        </div>
        <div class="col">
            <RadzenDropDown Data="@appointments" @bind-Value="@model.Text" />
        </div>
    </div>
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="Start" />
        </div>
        <div class="col">
            <RadzenDatePicker ShowSeconds="false" @bind-Value="@model.Start" Name="Start" ShowTime="true" />
            <RadzenRequiredValidator Text="Start is required" Component="Start" />
        </div>
    </div>
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="End" />
        </div>
        <div class="col">
            <RadzenDatePicker Name="End"  ShowSeconds="false" @bind-Value="@model.End" ShowTime="true" />
            <RadzenRequiredValidator Component="End" Text="End is required" />
        </div>
    </div>

    @if (model.Text == GlobalConstants.Meeting)
    {
        <div class="row" style="margin-bottom: 16px">
            <div class="col-md-3">
                <RadzenLabel Text="Дело номер" />
            </div>
            <div class="col">
                <RadzenTextBox @bind-Value="@model.CaseNumber" Name="CaseNumber" />
                <RadzenLengthValidator Max = "10" Text="Максимум 10 символа" Component="CaseNumber" />
            </div>
        </div>
        <div class="row" style="margin-bottom: 16px">
            <div class="col-md-3">
                <RadzenLabel Text="Съд" />
            </div>
            <div class="col">
                <RadzenTextBox @bind-Value="@model.Court" Name="Court" />
                <RadzenLengthValidator Max = "30" Text="Максимум 30 символа" Component="Court" />
            </div>
        </div>
        <div class="row" style="margin-bottom: 16px">
            <div class="col-md-3">
                <RadzenLabel Text="Допълнителна информация" />
            </div>
            <div class="col">
                <RadzenTextArea Cols ="25" Rows="6"  @bind-Value="@model.MoreInformation" Name="MoreInformation" Style="border-color:black"/>
                <RadzenLengthValidator Max = "200" Text="Максимум 200 символа" Component="MoreInformation"  />
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col">
            <RadzenButton ButtonType="ButtonType.Submit" Text="Save" />
        </div>
    </div>
</RadzenTemplateForm>
@code {
    [Parameter]
    public DateTime Start { get; set; }

    [Parameter]
    public DateTime End { get; set; }

    Appointment model = new Appointment();

    List<string> appointments = new List<string>() { GlobalConstants.Client, GlobalConstants.Meeting };

    protected override void OnInitialized()
    {
        model.Text = appointments.First();
        End = Start;
    }

    protected override void OnParametersSet()
    {
     
        model.Start = Start;
        model.End = End;
    }

    void OnSubmit(Appointment model)
    {

        DialogService.Close(model);
    }
}
