@using LaweyrServices.Web.Shared.DateModels

@inject HttpClient Http
<div class="modal @ModalClass" tabindex="-1" role="dialog" style="display:@ModalDisplay">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title text-center text-danger">Потвърдете</h5>

            </div>
            <div class="modal-body">
                @if (Model == null)
                {
                    <Spiner></Spiner>
                }
                else
                {
                    <EditForm Model="@Model" class="form-group" enctype="multipart/form-data" Context="formContext">
                        <DataAnnotationsValidator />

                       
                        @if (Model.ReasonFromCanceled != null)
                        {
                            <h4 class="card-title">Потвърдете, че отменяте срещите в периода:</h4>
                            <p>@Model.FirstDate до @Model.LastDate</p>
                             <p>поради тази причина</p>
                            
                            <p>@Model.ReasonFromCanceled</p>
                        }
                        else
                        {
                             <p class="text-danger"> причината за откза е задължителна</p>
                        }

                    </EditForm>

                }
            </div>
            <div class="modal-footer">
                @if (!String.IsNullOrEmpty(Model?.ReasonFromCanceled))
                {
                    <button type="button" class="btn btn-danger" onclick="@Save">Потвърди</button>
                }
                
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => Close()">Откажи</button>
            </div>
        </div>
    </div>
</div>



@if (ShowBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}


@code {

    [Parameter]
    public CancelAppointmentInputModel Model { get; set; }

    [Parameter]
    public EventCallback<bool> OnDoneCallback { get; set; }


    public Guid Guid = Guid.NewGuid();
    public string ModalDisplay = "none;";
    public string ModalClass = "";
    public bool ShowBackdrop = false;
    public bool Saved = false;
    public void Open(CancelAppointmentInputModel model)
    {

        ModalDisplay = "block;";
        ModalClass = "Show";
        ShowBackdrop = true;
        Model = model;
        StateHasChanged();
    }

    public void Close()
    {
        ModalDisplay = "none";
        ModalClass = "";
        ShowBackdrop = false;
        StateHasChanged();
    }
    private async Task Save()
    {
        Saved = true;
         var response = await this.Http.PutAsJsonAsync<CancelAppointmentInputModel>($"EditLawFirmByOwner/CancelAppointmentInRange", Model);
       
        if (response.IsSuccessStatusCode)
        { 
           await InvokeAsync(() => OnDoneCallback.InvokeAsync(Saved));
            StateHasChanged();
            Close();
        }
       
    }
}