@using LaweyrServices.Web.Shared.WorkingTimeModels
@using System.Globalization
@inject HttpClient Http
<div class="card shadow">
    <div class="card-body">
        <div class="doctor-widget">
            <div class="doc-info-left">
                <div class="doctor-img">
                    <a href="/lawyer/@Wte.WorkingTime.Companies.First().Id">
                        <img src="@Wte.WorkingTime.Companies.First().ImgUrl" class="img-fluid" alt="@Wte.WorkingTime.Companies.First().Names">
                    </a>
                </div>
                <div class="doc-info-cont">
                    <h4 class="doc-name"><a href="/lawyer/@Wte.WorkingTime.Companies.First().Id" title="Запази час за консултация при @Wte.WorkingTime.Companies.First().Names" style="text-decoration:none;">@Wte.WorkingTime.Companies.First().Names</a></h4>
                    <p class="doc-speciality">@Wte.WorkingTime.Companies.First().Address </p>
                    <h5 class="doc-department"><img src="/images/lawyer-1.png" class="img-fluid" width="19" height="19" alt="speciality">Адвокат</h5>
                    <div class="rating" style="font-size: 80%;">
                        <a href="/feedback/@Wte.WorkingTime.Companies.First().Id/@Wte.Id"><span class="d-inline-block average-rating countposition">Оценете срещата с Адвокат @Wte.WorkingTime.Companies.First().Names</span></a>

                    </div>
                    <div class="clinic-details">
                    </div>
                    <div class="clinic-services">
                        @if (Wte.IsCanceled)
                        {
                            <span class="badge badge-pill bg-danger">Отменена</span>
                        }
                        else if (Wte.IsApproved == true)
                        {

                            <span class="badge badge-pill bg-success-light">Одобрена</span>
                        }
                        else
                        {
                            <span class="badge badge-pill bg-warning">Чакаща</span>
                        }
                    </div>
                </div>
            </div>
            <div class="doc-info-right">
                <div class="clini-infos">
                    <ul>

                        <li><i class="oi oi-calendar"></i>@Wte.StarFrom.ToString("dddd", CultureInfo.CreateSpecificCulture("bg-BG"))</li>

                        <li><i class="oi oi-calendar"></i>@Wte.StarFrom.ToString("dd MM yyyy")</li>

                        <li><i class="oi oi-timer"></i>@Wte.StarFrom.ToString("HH : mm")</li>
                    </ul>
                </div>
                <div class="clinic-booking">
                    <div class="text-center">

                        <button class="btn btn-border-d btn-round btn-block" onclick="location.href='/lawyer/@Wte.WorkingTime.Companies.First().Id'" title="Запази час за консултация при @Wte.WorkingTime.Companies.First().Names" type="button">Запазете отново</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public WorkingTimeExceptionUserViewModel? Wte { get; set; }
}
