@page "/history"
@using LaweyrServices.Web.Shared.WorkingTimeModels
@using System.Globalization

@inject HttpClient Http


@layout Shared.AdministrationLayout

<AuthorizeView Roles="User">
    <Authorized>

        <div class="content">
            <div class="container-fluid">
                @if (wteModel == null)
                {
                    <p>loading</p>
                }
                else if (!wteModel.Any())
                {
                    <div class="row">
                        <div class="card shadow">
                            <div class="card-body">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-6 col-xl-6">
                                            <div class="box">
                                                <h2>Здравей,  !</h2>
                                                <p>Използвай формата за търсене – бързо и лесно ще намериш своя адвокат и ще резервираш час за среща напълно безплатно!</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-xl-6">
                                            <div class="box text-muted text-center">
                                                <div class="icon-circle gray">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <h4>Няма предстоящи часове</h4>
                                                <p>Намерете адвокат и резервирайте час за среща сега!</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-xl-12">
                                    <footer class="alert alert-success help-message" role="alert">
                                        <h5>Имате нужда от помощ?</h5>
                                        Разгледайте страницата ни с <a href="/faq">Често задавани въпроси</a> или ни пишете на <a href="mailto: hello@superdoc.bg">hello@superdoc.bg</a>
                                    </footer>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-lg-12 col-xl-12">
                                <h3 class="text-center">Минали резервации</h3>


                                @foreach (var wte in wteModel.Where(x => x.StarFrom.ToLocalTime() < DateTime.Now.ToLocalTime() || x.IsCanceled == true))
                                {
                                    <div class="card shadow">
                                        <div class="card-body">
                                            <div class="doctor-widget">
                                                <div class="doc-info-left">
                                                    <div class="doctor-img">
                                                        <a href="/lawyer/@wte.WorkingTime.Companies.First().Id">
                                                            <img src="@wte.WorkingTime.Companies.First().ImgUrl" class="img-fluid" alt="@wte.WorkingTime.Companies.First().Names">
                                                        </a>
                                                    </div>
                                                    <div class="doc-info-cont">
                                                        <h4 class="doc-name"><a href="/lawyer/@wte.WorkingTime.Companies.First().Id" title="Запази час за консултация при @wte.WorkingTime.Companies.First().Names" style="text-decoration:none;">@wte.WorkingTime.Companies.First().Names</a></h4>
                                                        <p class="doc-speciality">@wte.WorkingTime.Companies.First().Address </p>
                                                        <h5 class="doc-department"><img src="/images/lawyer-1.png" class="img-fluid" width="19" height="19" alt="speciality">Адвокат</h5>
                                                         <div class="rating" style="font-size: 80%;">
                                                           <a href="/feedback/@wte.WorkingTime.Companies.First().Id/@wte.Id"><span class="d-inline-block average-rating countposition">Оценете срещата с Адвокат @wte.WorkingTime.Companies.First().Names</span></a>
                                                            
                                                        </div>
                                                        <div class="clinic-details">
                                                        </div>
                                                        <div class="clinic-services">
                                                            @if (wte.IsCanceled)
                                                            {
                                                                <span class="badge badge-pill bg-danger">Отменена</span>
                                                            }
                                                            else if (wte.IsApproved == true)
                                                            {

                                                                <span class="badge badge-pill bg-success-light">Одобрена</span>
                                                            }
                                                            else
                                                            {
                                                                <span class="badge badge-pill bg-warning">Чакаща</span>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="doc-info-right">
                                                    <div class="clini-infos">
                                                        <ul>

                                                            <li><i class="oi oi-calendar"></i>@wte.StarFrom.ToString("dddd", CultureInfo.CreateSpecificCulture("bg-BG"))</li>

                                                            <li><i class="oi oi-calendar"></i>@wte.StarFrom.ToString("dd MM yyyy")</li>

                                                            <li><i class="oi oi-timer"></i>@wte.StarFrom.ToString("HH : mm")</li>
                                                        </ul>
                                                    </div>
                                                    <div class="clinic-booking">
                                                        <div class="text-center">
                                                           
                                                            <button class="btn btn-border-d btn-round btn-block" onclick="location.href='/lawyer/@wte.WorkingTime.Companies.First().Id'" title="Запази час за консултация при @wte.WorkingTime.Companies.First().Names" type="button">Запазете отново</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                }

                                <footer class="alert alert-success help-message" role="alert">
                                    <h5>Имате нужда от помощ?</h5>
                                    Разгледайте страницата ни с <a href="/faq">Често задавани въпроси</a> или ни пишете на <a href="mailto: hello@superdoc.bg">hello@superdoc.bg</a>
                                </footer>
                            </div>
                        </div>
                    </div>
                    @*<div id="pat_appointments" class="tab-pane fade show active">
                        <div class="card card-table mb-0">
                        <div class="card-body">
                        <div class="table-responsive">
                        <table class="table table-responsive table-hover table-center mb-0">
                        <thead>
                        <tr>
                        <th>Адвокат</th>
                        <th>За дата</th>
                        <th>Час</th>
                        <th>Дата на запазване</th>
                        <th>Status</th>
                        <th>Откажи</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var wte in wteModel)
                        {
                        <tr>
                        <td>
                        <h2 class="table-avatar">
                        <a href="doctor-profile.html" class="avatar avatar-sm mr-2">
                        <img class="avatar-img rounded-circle" src="@wte.WorkingTime.Companies.First().ImgUrl" alt="User Image">
                        </a>
                        <a href="doctor-profile.html">@wte.WorkingTime.Companies.First().Names<span>Dental</span></a>
                        </h2>
                        </td>
                        <td>@wte.StarFrom.Date.ToString("dd/MM/yyyy")</td>
                        <td><span class="d-block text-info">@wte.StarFrom.TimeOfDay</span></td>
                        <td>@wte.CreatedOn.ToString("dd/MM/yyyy")</td>

                        @if (wte.IsCanceled)
                        {
                        <td><span class="badge badge-pill bg-danger">Отменена</span></td>
                        }
                        else if (wte.IsApproved == true)
                        {
                        <td><span class="badge badge-pill bg-success-light">Одобрена</span></td>
                        }
                        else
                        {
                        <td><span class="badge badge-pill bg-warning">Чакаща</span></td>
                        }
                        @if (!wte.IsCanceled)
                        {
                        <td>
                        <div class="table-action">
                        @if (wte.StarFrom.Date > date.Date)
                        {
                        <a href="" onclick="@(() =>SetWorkingTimeExceptionToFree(wte.Id))" class="btn btn-sm bg-danger">
                        <i class="oi oi-trash"></i> Откажи
                        </a>
                        }
                        </div>
                        </td>
                        }
                        </tr>
                        }
                        </tbody>
                        </table>
                        </div>
                        </div>
                        </div>
                        </div>*@

                }
            </div>
        </div>



    </Authorized>
    <NotAuthorized>
        @{
            NavigationManager.NavigateTo("/Profile");
        }
    </NotAuthorized>
</AuthorizeView>
<style>
    .btn.btn-round {
        border-radius: 2px;
    }

    .btn-border-d {
        background: transparent;
        border: 1px solid #111111;
        color: #111;
    }

    .btn {
        border-radius: 0;
        font-family: "Roboto Condensed", sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 11px;
        padding: 8px 37px;
    }

        .btn.btn-border-d:hover,
        .btn.btn-border-d:focus {
            background: #111111;
            color: #fff;
        }

    .btn-block {
        display: block;
        width: 100%;
    }
</style>

@code {

    private List<WorkingTimeExceptionUserViewModel>? wteModel;

    protected override async Task OnInitializedAsync()
    {

        wteModel = await this.Http.GetFromJsonAsync<List<WorkingTimeExceptionUserViewModel>>("User/GetUserWorkingTimeExceptions");

        await base.OnInitializedAsync();

    }

    async void SetWorkingTimeExceptionToFree(string wteId)
    {
        var wtexception = this.wteModel.FirstOrDefault(x => x.Id == wteId);

        var response = await Http.PutAsJsonAsync("User/SetWorkingTimeExceptionToFree", wteId);
        if (response.IsSuccessStatusCode)
        {
            //delete from list wteModel wtexception
            wteModel.Remove(wtexception);
        }

        StateHasChanged();
    }
}
