@page "/lawyer/{LawyerId}"

<PageTitle>А-т @model?.Names, @model?.TownName</PageTitle>
<HeadContent>
    <meta name="description" content="Запази онлайн час за среща при А-т @model?.Names!
	Вижте информация за адвоката и прочетете реални мнения на клиенти.">
</HeadContent>
@using LaweyrServices.Web.Client.Shared.Administration.Pages.Components
@using LaweyrServices.Web.Shared.AreasCompanyModels
@using LaweyrServices.Web.Shared.DateModels
@using LaweyrServices.Web.Shared.FixedCostModels
@using LaweyrServices.Web.Shared.LawyerViewModels
@using LaweyrServices.Web.Shared.RatingModels
@using LaweyrServices.Web.Shared.WorkingTimeModels

@inject AuthenticationStateProvider AuthenticationStateProvider

@inject IHttpClientFactory ClientFactory


<div class="content">
    <div class="container-fluid">
        @if (this.model == null)
        {
            <Spiner></Spiner>
        }
        else
        {
            <div class="card shadow">
                <div class="card-body">
                    <div class="lawyer-widget">
                        <div class="law-info-left">
                            <div class="lawyer-img">
                                <img src="@model?.ImgUrl" width="200" height="200" class="img-fluid" alt="@model?.Names">
                            </div>
                            <div class="law-info-cont">
                                <h1>@model?.Names</h1>
                                @if (model?.LawFirmId != null)
                                {
                                     <a href="/law-firm/@model?.LawFirmId"><p class="law-speciality">Адвокатска кантора @model?.LawFirmName</p></a>
                                }
                                <p>@model?.HeaderText</p>
                                <div class="rating">
                                    <RadzenRating ReadOnly="true" Stars="5" Value="((int)Math.Round(model.AverageGrade/model.ReviewsCount, MidpointRounding.AwayFromZero))" />
                                    <span class="d-inline-block average-rating countposition">(@model?.Reviews.Count())</span>
                                </div>
                                <div class="office-details">
                                    <p class="law-location"><i class="fas fa-map-marker-alt"> </i> @model?.TownName/ @model?.Address <a href=@($"https://www.google.com/maps/place/{model?.TownName} {model?.Address}") target="blank"> намери адрес</a></p>
                                    <ul class="office-gallery">
                                        @if (model?.FreeFirstAppointment == true)
                                        {
                                            <li style="float: left;"><i class="oi oi-check"></i><span> Безплатна първа консултация</span></li>
                                        }
                                        @if (model?.FixedCost == true)
                                        {
                                            <li style="float: left;"><i class="oi oi-check"></i> Фиксирана цена</li>
                                        }
                                      @*  @if (model?.NoWinNoFee == true)
                                        {
                                            <li style="float: left;"><i class="oi oi-check"></i> Без Победа Без цена</li>
                                        }
                                        @if (model?.MeetingClientLocation == true)
                                        {
                                            <li style="float: left;"><i class="oi oi-check"></i> Посещение в офис на клиента</li>
                                        }*@
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-10 col-lg-6">
                            <div class="row">
                                <div class="card-header">
                                    <h2 class="card-title mb-0">За @model?.Names</h2>
                                </div>
                                <p class="card-text" style="margin-bottom: 40px; margin-top: 40px;">
                                    @model?.AboutText
                                </p>
                            </div>
                            <div class="row">
                                <div class="service-list">
                                    <h2 style="margin-bottom:20px;">Сфери на правото</h2>
                                    <ul class="clearfix">
                                        
                                        @foreach (var item in model?.AreasCompanies)
                                        {
                                            <li>@item.AreasOfActivity?.Name </li>
                                        }
                                    </ul>
                                </div>
                                <h4 style="margin-bottom:20px;">Услуги с фиксирана цена</h4>
                                <div class="office-details">
                                    <div class="row">
                                        <Virtualize Items="@model?.FixedCostServices" Context="item" TItem="FixedCostViewModel" ItemSize="10">
                                             <div class="col-12 col-md-6 col-lg-4 d-flex">
                                                <div class="card flex-fill">
                                                    <div class="card-body">
                                                        <h4>@item?.Name</h4>
                                                        <p>@item?.Price лв.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </Virtualize>
                                     
                                    </div>
                                </div>
                                <div class="service-list">
                                    <h2>Езици</h2>

                                    <ul class="clearfix">
                                        <li>@model?.Languages</li>
                                    </ul>
                                </div>
                                <div class="service-list">
                                    <h4>Кантора</h4>
                                    <ul class="clearfix">
                                        <li><a href="/law-firm/@model?.LawFirmId">@model?.LawFirmName</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-10 col-lg-6">
                            <RadzenScheduler Data="@wtmodel" TItem="WorkingTimeExceptionViewModel" StartProperty="StarFrom" EndProperty="EndTo"
                                         TextProperty="AppointmentType" AppointmentSelect=@OnAppointmentSelect AppointmentRender=@OnAppointmentRender Style="height: 768px">
                                <RadzenDayView EndTime=@TimeSpan.FromHours(20) TimeFormat="HH" />
                            </RadzenScheduler>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-lg-6">
                            <div class="container">
                                <h2 style="margin-bottom:20px;">Намери @model?.Names</h2>
                                <iframe src=@($"https://maps.google.com/maps?q=%20{model?.Address},%20{model?.TownName}&t=&z=13&ie=UTF8&iwloc=&output=embed") width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                            <div class="container" style="margin-top:20px;">
                                <h2 style="margin-bottom:20px;">Професионална проверка</h2>
                                <p>Правен портал е проверил независимо  @model?.Names и потвърди:</p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-sm">
                                                <span>Потвърдено име</span>
                                            </div>

                                            <div class="col-sm">
                                                <p>@model?.Names </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm">
                                                <span>Юридически статус</span>
                                            </div>

                                            <div class="col-sm">
                                                <p>Адвокат</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm">
                                                <span>Колегия</span>
                                            </div>

                                            <div class="col-sm">
                                                <p>@model?.Jurisdiction</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm">
                                                <span>Дата на прием/лиценз</span>
                                            </div>

                                            <div class="col-sm">
                                                <p>@model?.LicenceDate</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm">
                                                <span>Последна проверка</span>
                                            </div>

                                            <div class="col-sm">
                                                <p>@model?.LastChecked</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (model.Reviews == null)
                        {
                            <Spiner></Spiner>
                        }
                        else if (!model.Reviews.Any())
                        {
                            <div class="col-md-10 col-lg-6">
                                <div class="alert alert-light">
                                    <div>Все още няма оставени оценки за този адвокат.</div>
                                    Оценките в Правен портал са от реални потребители, резервирали час за среща онлайн. Резервирайте час и споделете Вашето мнение!
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-10 col-lg-6">
                                <div class="review-summary" style="margin-top:45px; margin-bottom:20px;">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <ul class="review-summary-list list-group">
                                                <li class="list-group-item">
                                                    Рейтинг
                                                    <div class="rating rated">
                                                        <RadzenRating ReadOnly="true" Stars="5" Value="((int)Math.Round(model.AverageGrade/model.ReviewsCount, MidpointRounding.AwayFromZero))" />
                                                        <span class="d-inline-block average-rating countposition">(@model.ReviewsCount)</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                                <Virtualize Items="@Ratings" Context="review" TItem="RatingsViewModel" ItemSize="10">
                                    <div class="review">
                                        <div class="review-name">
                                            <span>
                                                <span itemprop="name">@review.UserFirstName</span>

                                            </span>
                                            <hr />
                                            <span class="text-muted">@review.DateReview.ToShortDateString()</span>
                                        </div>
                                        <div class="review-score">
                                            <div class="row">

                                                <div class="col-sm">
                                                    <div class="rating-name">Отношение</div>
                                                    <div class="rating rated">
                                                        <RadzenRating ReadOnly="true" Stars="5" Value="@review.ServiceRating" />
                                                    </div>
                                                </div>
                                                <div class="col-sm">
                                                    <div class="rating-name">Доверие</div>
                                                    <div class="rating rated">
                                                        <RadzenRating ReadOnly="true" Stars="5" Value="@review.TrustworthyRating" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="contents">@review.Commentary</div>
                                    </div>
                                </Virtualize>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<style>


    .countposition {
        vertical-align: super;
        color: #272A33;
    }

    .rz-scheduler-nav {
        background-color: #0e5fe3 !important;
    }

    .rz-scheduler-nav-prev-next .rz-button {
        background-color: #ffff !important;
        color: #0e5fe3 !important;
    }

    .rz-scheduler-nav-prev-next .rz-prev {
        background-color: #ffff !important;
    }

    .rz-scheduler-nav-prev-next .rz-next {
        background-color: #ffff !important;
    }

    .rz-button .rzi {
        color: #0e5fe3 !important;
    }

    .rz-scheduler-nav-title {
        color: #ffff !important;
    }

    .rz-scheduler-nav-views {
        display: none !important;
    }

    .list-group-item {
        position: relative;
        display: block;
        padding: 0.75rem 1.25rem;
        background-color: #fff;
        border: 1px solid rgba(26,32,44,.125);
    }

    .review-summary .review-summary-list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        .review-summary .review-summary-list li {
            display: -ms-flexbox;
            justify-content: space-between;
        }

    .rz-rating .rzi-star {
        color: #fc0 !important;
    }

    .review {
        margin-bottom: 20px;
        padding: 20px;
        border: 1px solid rgba(26,32,44,.125);
        border-radius: 15px;
    }

        .review .review-name {
            font-weight: 500;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .review .review-score {
            font-size: .9em;
            margin-top: 15px;
        }

        .review .contents {
            font-size: 1em;
            margin-top: 15px;
        }

    .alert {
        padding: 15px;
        border-radius: 6px;
        border: none;
    }

        .alert.alert-light {
            color: #718096;
            background: #f7fafc;
        }

    .rz-event {
        width: 100% !important;
    }

    .rz-event-content {
        text-align: center;
        font-size: 20px;
        background: #479cc8;
        color: white;
    }

        .rz-event-content:hover {
            background: #0e5fe3;
        }

    .lawyer-row, .property {
        font-size: 0;
        line-height: 20px;
        margin-bottom: 0.7rem;
        position: relative;
        white-space: nowrap;
    }

    .lawyer-property, .property-label {
        vertical-align: top;
        width: 50%;
    }

        .lawyer-property span, .property-label span {
            background: #fff;
            display: inline-block;
            font-weight: 700;
            position: relative;
            z-index: 1;
        }

    .lawdetails {
        float: left;
        margin-top: 10px;
    }

    .customcard {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 40%;
    }

        .customcard:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }


    .shadow {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin-bottom: 20px;
    }

    .lawyer-img {
        -ms-flex: 0 0 250px;
        flex: 0 0 250px;
        width: 250px;
    }

        .lawyer-img img {
            border-radius: 5px;
        }

    .rz-view-header .rz-slot-hour-header {
        flex: none;
        width: 25px;
    }

    .rz-event-content {
        cursor: pointer;
    }

</style>
@code {

    [Parameter]
    public string? LawyerId { get; set; }

    private LawyerListItem? model;
    private IEnumerable<WorkingTimeExceptionViewModel>? wtmodel;
    private ICollection<RatingsViewModel> Ratings;

    protected override async Task OnInitializedAsync()
    {

        var client = ClientFactory.CreateClient("LaweyrServices.Web.ServerAPI.NoAuthenticationClient");

        await base.OnInitializedAsync();

        try
        {
            var response = await client?.GetFromJsonAsync<LawyerListItem>($"Company/GetLawyerById?lawyerId={LawyerId}");
            model = response;
            Ratings = model.Reviews.Where(x => x.IsModerated == true).OrderByDescending(x => x.DateReview).ToList();
            wtmodel = model.WorkingTime.WorkingTimeExceptions.Where(x => x.StarFrom >= DateTime.Now.ToLocalTime()).ToList();
            if (wtmodel != null)
            {
                foreach (var item in wtmodel)
                {
                    item.AppointmentType = item.StarFrom.ToString("HH:mm");
                }
            }
        }
        catch
        {
            this.NavigationManager.NavigateTo("/notfound");
        }
    }
    void OnAppointmentSelect(SchedulerAppointmentSelectEventArgs<WorkingTimeExceptionViewModel> args)
    {
        this.NavigationManager.NavigateTo($"/booking/{model.Id}/{args.Data.Id}");

    }

    void OnAppointmentRender(SchedulerAppointmentRenderEventArgs<WorkingTimeExceptionViewModel> args)
    {
        // Never call StateHasChanged in AppointmentRender - would lead to infinite loop

        args.Attributes["style"] = "text-align: center;";

        //if (args.Data.Text == GlobalConstants.Meeting)
        //{
        //;
        //}
    }
 }