@page "/submitapplication"

@using LaweyrServices.Web.Shared
@using LaweyrServices.Web.Shared.AministrationViewModels
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject IHttpClientFactory ClientFactory
@inject NavigationManager navigationManager

<h3>SubmitАpplication</h3>

<section class="module">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="font-alt">We’re a digital creative agency</h5><br />
                <p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their grammar, their pronunciation and their most common words.</p>
                <p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary.</p>
            </div>
            <div class="col-sm-6">
                <h6 class="font-alt">
                    <span class="icon-tools-2"></span> Development
                </h6>
                <div class="progress">
                    <div class="progress-bar pb-dark" aria-valuenow="60" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
                </div>
                <h6 class="font-alt">
                    <span class="icon-strategy"></span> Branding
                </h6>
                <div class="progress">
                    <div class="progress-bar pb-dark" aria-valuenow="80" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
                </div>
                <h6 class="font-alt">
                    <span class="icon-target"></span> Marketing
                </h6>
                <div class="progress">
                    <div class="progress-bar pb-dark" aria-valuenow="50" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
                </div>
                <h6 class="font-alt">
                    <span class="icon-camera"></span> Photography
                </h6>
                <div class="progress">
                    <div class="progress-bar pb-dark" aria-valuenow="90" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="features" class="padd-section text-center">

    <div class="container">
        <div class="section-title text-center">
            <h2>Какви възможности има Суперадвокат?</h2>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="feature-block">
                    <img src="/images/asp.jpg" alt="img">
                    <h3>Онлайн календар</h3>
                    <p class="text-muted">Със Супердок записаните от Вас часове на място или по телефона автоматично стават „заети“ за онлайн пациентите. Ако се наложи да отсъствате, бързо и лесно може да уведомите записаните пациенти с натискането на един бутон!</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="feature-block">
                    <img src="/images/asp.jpg" alt="img">
                    <h3>Потвърдени пациенти</h3>
                    <p class="text-muted">Всеки потребител е регистриран с име, е-мейл и телефон и може да има до 4 предстоящи резервации, за да бъдат избегнати недобронамерени действия. След прегледа Вие имате възможност да маркирате пациент като „Неявяване”.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="feature-block">
                    <img src="/images/asp.jpg" alt="img">
                    <h3>Мобилен достъп</h3>
                    <p class="text-muted">Със Супердок имате достъп до графика си от компютър и мобилен телефон – можете да записвате и отказвате часове в движение и да редактирате календара си в реално време.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="feature-block">
                    <img src="/images/asp.jpg" alt="img">
                    <h3>Онлайн календар</h3>
                    <p class="text-muted">Със Супердок записаните от Вас часове на място или по телефона автоматично стават „заети“ за онлайн пациентите. Ако се наложи да отсъствате, бързо и лесно може да уведомите записаните пациенти с натискането на един бутон!</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="feature-block">
                    <img src="/images/asp.jpg" alt="img">
                    <h3>Потвърдени пациенти</h3>
                    <p class="text-muted">Всеки потребител е регистриран с име, е-мейл и телефон и може да има до 4 предстоящи резервации, за да бъдат избегнати недобронамерени действия. След прегледа Вие имате възможност да маркирате пациент като „Неявяване”.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="feature-block">
                    <img src="/images/asp.jpg" alt="img">
                    <h3>Мобилен достъп</h3>
                    <p class="text-muted">Със Супердок имате достъп до графика си от компютър и мобилен телефон – можете да записвате и отказвате часове в движение и да редактирате календара си в реално време.</p>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Features Section -->
@*<section>
    <div class="container">
    <div class="row">
    <h1>Как работи Супердок?</h1>
    <div class="col-sm-4">
    <h3>1. Създавате Вашия профил</h3>
    <p class="text-muted">Свържете се с нас и ние ще създадем Ваш личен профил в Супердок. Той ще включва информация за Вас – специалност, стаж, образование и допълнителни квалификации. Ще направим снимка на Вас, кабинета и оборудването, с които да Ви представим на пациентите.</p>
    </div>
    <div class="col-sm-4">
    <h3>2. Въвеждате информация за Вашите практики и работно време</h3>
    <p class="text-muted">В профила си в Супердок може да включите информация за 3 работни места, като за всяка практика въвеждате работно време, работа с НЗОК и с деца. Имате възможност да обявите цени на прегледите и изследванията в различните практики или да дадете допълнителни уточнения на пациентите, преди да си запишат час.</p>
    </div>
    <div class="col-sm-4">
    <h3>3. Ставате Супердоктор</h3>
    <p class="text-muted">— модерният лекар, който пести време на себе си и пациентите с удобството на онлайн резервациите.</p>
    </div>
    <button type="button" class="btn btn-outline-primary btn-lg">Primary</button>
    </div>
    </div>
    </section>*@

<section class="module" style="background-color:#0000CD">
    <div class="container register">
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
                <h3>Заявете своя профил</h3>
                <p>Моля, попълнете формата и я изпратете. Ще се свържем с Вас, за да Ви разкажем за всички предимства на Супердок и как може да бъде полезен в работата Ви.</p>
            </div>
            <div class="col-md-9 register-right">
                <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Employee</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Hirer</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading">Заявете своя профил</h3>
                        @if (model == null)
                        {
                            <div>loading</div>
                        }
                        else
                        {
                             <EditForm Model="@model" OnValidSubmit="@HandleValidSubmit" class="form-group" enctype="multipart/form-data">
                            <DataAnnotationsValidator />
                            <div class="row register-form">
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <InputText class="form-control" id="lastname" placeholder="Фамилия" @bind-Value="model.Names" />
                                        <ValidationMessage For="@(() => model.Names)" />
                                    </div>
                                    <div class="form-group">
                                        <RadzenDropDown AllowClear="true" TValue="string" Class="w-100"
                                                        Data=@(towns?.Select(c => c.Name).Distinct())
                                                        Change=@(args => OnChange(args, "DropDown")) Placeholder="Изберете град"/>
                                    </div>
                                    <div class="form-group">
                                        <InputText class="form-control" id="email" placeholder="Имейл" @bind-Value="model.Email" />
                                        <ValidationMessage For="@(() => model.Email)" />
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <InputText class="form-control" id="phone" placeholder="Телефон" @bind-Value="model.PhoneNumber" />
                                        <ValidationMessage For="@(() => model.PhoneNumber)" />
                                    </div>
                                    <div class="form-group">
                                        <InputText class="form-control" id="floatingInput" placeholder="Роля" @bind-Value="model.Profession" />
                                        <ValidationMessage For="@(() => model.Profession)" />
                                    </div>
                                    <div class="form-group">
                                        <InputText class="form-control" id="office" placeholder="Кантора" @bind-Value="model.Office" />
                                        <ValidationMessage For="@(() => model.Office)" />
                                    </div>
                                    <div class="form-group">
                                        <InputText class="form-control" id="address" placeholder="Адрес" @bind-Value="model.Address" />
                                        <ValidationMessage For="@(() => model.Address)" />
                                    </div>
                                    <input type="submit" class="btnRegister" value="Изпрати" />
                                </div>
                            </div>
                        </EditForm>
                        }
                       
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<style>
    .module,
    .module-small {
        position: relative;
        padding: 140px 0;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
    }
    /* Module header */
    .module-small {
        padding: 70px 0;
    }

    .module-extra-small {
        padding: 25px 0px;
    }

    .module-medium {
        padding: 75px 0px;
    }

    .bg-dark .module-title,
    .bg-dark-30 .module-title,
    .bg-dark-60 .module-title,
    .bg-dark-90 .module-title,
    .bg-dark .module-subtitle,
    .bg-dark-30 .module-subtitle,
    .bg-dark-60 .module-subtitle,
    .bg-dark-90 .module-subtitle,
    .bg-dark .alt-module-subtitle h5,
    .bg-dark-30 .alt-module-subtitle h5,
    .bg-dark-60 .alt-module-subtitle h5,
    .bg-dark-90 .alt-module-subtitle h5 {
        color: #fff;
    }

    .module-subtitle {
        text-align: center;
        font-size: 16px;
        color: #111;
        margin-bottom: 70px;
    }

    .module-icon {
        text-align: center;
        font-size: 32px;
        margin-bottom: 20px;
    }

    .module-title + .module-subtitle {
        margin-top: -35px;
    }
    /* Restaurant module header */
    .alt-module-subtitle {
        display: table;
    }

        .alt-module-subtitle h5 {
            display: table-cell;
            white-space: pre;
            padding: 0 8px;
            color: #111;
        }

    .module-title {
        position: relative;
        letter-spacing: 4px;
        text-align: center;
        font-weight: 400;
        font-size: 30px;
        color: #111;
        margin: 0 0 70px;
    }

        .module-title + .module-subtitle {
            margin-top: -35px;
        }
    /* Features Section
                    --------------------------------*/
    /*#features {
                      display: inline-block;
                      height: 100%;
                      width: 100%;
                    }*/
    #features .feature-block {
        background: #fff none repeat scroll 0 0;
        padding: 30px 20px;
        margin-bottom: 30px;
        transition: all 0.5s ease-in-out 0s;
    }

        #features .feature-block img {
            height: 60px;
            margin-bottom: 30px;
            width: 60px;
        }

        #features .feature-block:hover {
            box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
            transition: all 0.5s ease-in-out 0s;
        }

        #features .feature-block h4 {
            margin-bottom: 20px;
        }

        #features .feature-block p {
            margin-bottom: 0;
        }

    .padd-section {
        padding-bottom: 80px;
        padding-top: 80px;
    }

    .register {
        /*background: -webkit-linear-gradient(left, #3931af, #00c6ff);*/
        margin-top: 3%;
        padding: 3%;
    }

    .register-left {
        text-align: center;
        color: #fff;
        margin-top: 4%;
    }

        .register-left input {
            border: none;
            border-radius: 1.5rem;
            padding: 2%;
            width: 60%;
            background: #f8f9fa;
            font-weight: bold;
            color: #383d41;
            margin-top: 30%;
            margin-bottom: 3%;
            cursor: pointer;
        }

    .register-right {
        background: #f8f9fa;
        border-top-left-radius: 10% 50%;
        border-bottom-left-radius: 10% 50%;
    }

    .register-left img {
        margin-top: 15%;
        margin-bottom: 5%;
        width: 25%;
        -webkit-animation: mover 2s infinite alternate;
        animation: mover 1s infinite alternate;
    }

    .register-left p {
        font-weight: lighter;
        padding: 12%;
        margin-top: -9%;
    }

    .register .register-form {
        padding: 10%;
        margin-top: 10%;
    }

    .btnRegister {
        float: right;
        margin-top: 10%;
        border: none;
        border-radius: 1.5rem;
        padding: 2%;
        background: #0062cc;
        color: #fff;
        font-weight: 600;
        width: 50%;
        cursor: pointer;
    }

    .register .nav-tabs {
        margin-top: 3%;
        border: none;
        background: #0062cc;
        border-radius: 1.5rem;
        width: 28%;
        float: right;
    }

        .register .nav-tabs .nav-link {
            padding: 2%;
            height: 34px;
            font-weight: 600;
            color: #fff;
            border-top-right-radius: 1.5rem;
            border-bottom-right-radius: 1.5rem;
        }

            .register .nav-tabs .nav-link:hover {
                border: none;
            }

            .register .nav-tabs .nav-link.active {
                width: 100px;
                color: #0062cc;
                border: 2px solid #0062cc;
                border-top-left-radius: 1.5rem;
                border-bottom-left-radius: 1.5rem;
            }

    .register-heading {
        text-align: center;
        margin-top: 8%;
        margin-bottom: -15%;
        color: #495057;
    }
</style>
@code {

    private IEnumerable<TownViewModel>? towns;
    bool popup = false;
    private SubmitApplicationModel? model;
    HttpClient? client;


    protected override async Task OnInitializedAsync()
    {
     
        client = ClientFactory.CreateClient("LaweyrServices.Web.ServerAPI.NoAuthenticationClient");
        try
        {
            this.towns = await client.GetFromJsonAsync<IEnumerable<TownViewModel>>("SubmitАpplication");
            //areas = await client.GetFromJsonAsync<IEnumerable<AreasOfActivityViewModel>>("Index/GetAreas");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        base.OnInitialized();

        model = new SubmitApplicationModel();

    }
    private async void HandleValidSubmit()
    {
        var response = await client.PostAsJsonAsync("SubmitАpplication", model);
        if (response.IsSuccessStatusCode)
        {
             navigationManager.NavigateTo($"/successedsubmit/{model.Names}");
        }
        // Process the valid form
    }
    void Cancel()
    {
        //
    }
    void OnChange(object value, string name)
    {

        model.Town = value.ToString();
        //this.NavigationManager.NavigateTo($"lawyers/{town?.Id}");

    }
}
