@page "/submitapplication"

@using LaweyrServices.Web.Client.Shared.Administration.Pages.Components
@using LaweyrServices.Web.Shared
@using LaweyrServices.Web.Shared.AministrationViewModels
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.ComponentModel

@inject IHttpClientFactory ClientFactory
@inject NavigationManager navigationManager
@inject IJSRuntime JS;

<section class="module">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <h4 class="color">Присъединете се към Правен портал !</h4>
                <h1 class="color">Спестете време и намерете нови клиенти със Правен портал</h1>
                <p class="color">Правен портал е платформа за онлайн резервации на срещи с адвокат, която предлага на потребителите възможността да разгледат профилите на адвокати от различни сфери на правото, да намерят нотариус, да изберат подходящия адвокат, в най-удобното за тях време и да резервират час за среща онлайн !</p>
            </div>
        </div>
    </div>
</section>
<section id="features" class="padd-section text-center">
    <div class="container">
        <div class="section-title text-center mb-2">
            <h2>Какви възможности има Правен портал?</h2>
        </div>
        <div class="row" style="margin-top:20px;">

            <div class="col-md-6 col-lg-4 col-xl-4">
                <div class="feature-block">
                    <img src="/images/calendar.svg" alt="Онлайн календар">
                    <h3>Онлайн календар</h3>
                    <p class="text-muted text-left">Със Правен портал записаните от Вас часове онлайн автоматично стават „заети“ за онлайн клиентите. Ако се наложи да отсъствате, бързо и лесно може да уведомите записаните клиенти с натискането на един бутон!</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4">
                <div class="feature-block">
                    <img src="/images/client.svg" alt="Потвърдени клиенти">
                    <h3>Потвърдени клиенти</h3>
                    <p class="text-muted" style="text-align: left">Всеки потребител е регистриран с име, е-мейл и телефон и може да има до 2 предстоящи срещи, за да бъдат избегнати недобронамерени действия. Ако клиента не се яви Вие имате възможност да маркирате клиента като „Неявил се”.</p>
                </div>
            </div>
             <div class="col-md-6 col-lg-4 col-xl-4">
                <div class="feature-block">
                    <img src="/images/email.svg" alt="Email известяване">
                    <h3>Email известяване</h3>
                    <p class="text-muted" style="text-align: left">Ден преди срещата си със Вас, клиентите получават напомняне за наближаващия час по е-мейл, което намалява броя неявили се клиенти. С Email уведомяваме Вас и клиентите Ви, ако една от двете страни откаже час за среща.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-4">
                <div class="feature-block">
                    <img src="/images/page.svg" alt="Предварителна информация от клиентите">
                    <h3>Предварителна информация от клиентите</h3>
                    <p class="text-muted" style="text-align: left">При запазване на час, потребителите на Правен портал Ви дават предварителна информация за причината за тяхното посещение, както и информация за контакт с тях.</p>
                </div>
            </div>
           <div class="col-md-6 col-lg-4 col-xl-4">
                <div class="feature-block">
                    <img src="/images/smartphone.svg" alt="Мобилен достъп">
                    <h3>Мобилен достъп</h3>
                    <p class="text-muted" style="text-align: left">Със Правен портал имате достъп до графика си от компютър и мобилен телефон – можете да записвате и отказвате часове в движение и да редактирате календара си в реално време.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4">
                <div class="feature-block">
                    <img src="/images/legal-meeting.svg" alt="График на съдебните заседания">
                    <h3>График на съдебните заседания</h3>
                    <p class="text-muted" style="text-align: left">Със Правен портал имате достъп до графика си за съдебните заседания от всякъде.Можете да редактирате графика от всяко мобилно устройство.</p>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Features Section -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 style="margin-bottom:20px;">Как работи ПравенПортал?</h1>
                <h3>1. Създавате Вашия профил</h3>
                <p class="text-muted">Свържете се с нас и ние ще създадем Ваш личен профил в Правен Портал. Той ще включва информация за Вас – специалност, стаж, образование и допълнителни квалификации. Ще направим снимка на Вас, кабинета и оборудването, с които да Ви представим на клиентите.</p>

                <h3>2. Въвеждате информация за Вашите практики и работно време</h3>
                <p class="text-muted">В профила си в Супердок може да включите информация за 3 работни места, като за всяка практика въвеждате работно време, работа с НЗОК и с деца. Имате възможност да обявите цени на прегледите и изследванията в различните практики или да дадете допълнителни уточнения на пациентите, преди да си запишат час.</p>

                <h3>3. Ставате Супердоктор</h3>
                <p class="text-muted">— модерният лекар, който пести време на себе си и пациентите с удобството на онлайн резервациите.</p>
            </div>
            <div class="col-md-6">
                <img src="/images/scale.png" class="img-fluid" alt="Feature">

            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <!-- Account Content -->
                <div class="account-content">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-7 col-lg-6 login-left">
                            <img src="/images/justice.png" class="img-fluid" alt="Login Banner">
                        </div>
                        <div class="col-md-12 col-lg-6 login-right shadow">
                            <div class="login-header">
                                <h3 class="text-center">Заяваете своя профил</h3>
                            </div>
                            @if (model == null)
                            {
                                <Spiner></Spiner>
                            }
                            else
                            {
                                <!-- Register Form -->
                                <EditForm Model="@model" OnValidSubmit="@HandleValidSubmit" class="form-group" enctype="multipart/form-data">
                                    <DataAnnotationsValidator />

                                    <div class="form-group form-focus">
                                        <InputText class="form-control floating" id="names" placeholder="Вашите имена" @bind-Value="model.Names" />
                                        <ValidationMessage For="@(() => model.Names)" />
                                        <label class="focus-label">Имена</label>
                                    </div>
                                    <div class="form-group form-focus">
                                        <RadzenDropDown AllowClear="true" TValue="string" Class="w-100"
                                                    Data=@(towns?.Select(c => c.Name).Distinct())
                                                    Change=@(args => OnChange(args, "DropDown")) Placeholder="Изберете град" />
                                    </div>
                                    <div class="form-group form-focus">
                                        <InputText class="form-control" id="email" placeholder="Имейл" @bind-Value="model.Email" />
                                        <ValidationMessage For="@(() => model.Email)" />
                                        <label class="focus-label">Имейл</label>
                                    </div>
                                    <div class="form-group form-focus">
                                        <InputText class="form-control" id="phone" placeholder="Телефон" @bind-Value="model.PhoneNumber" />
                                        <ValidationMessage For="@(() => model.PhoneNumber)" />
                                        <label class="focus-label">Телефон</label>
                                    </div>
                                    <div class="form-group form-focus">
                                        <InputText class="form-control" id="address" placeholder="Адрес" @bind-Value="model.Address" />
                                        <ValidationMessage For="@(() => model.Address)" />
                                        <label class="focus-label">Адрес</label>
                                    </div>
                                    @*<div class="checkbox">
                                        <InputCheckbox @bind-Value="model.AcceptedTermOfUse" />
                                        <ValidationMessage For="@(() => model.AcceptedTermOfUse)" />
                                        <label class="focus-label">AcceptedTermOfUse</label>
                                        </div>*@
                                    @*<div class="text-right">
                                        <a class="forgot-link" href="login.html">Already have an account?</a>
                                        </div>*@
                                    @*<button class="btn btn-primary btn-lg" type="submit">Signup</button>*@                       
                                    <div class="text-center">
                                        <button class="btn btn-border-d btn-round btn-block" type="submit">Изпрати</button>
                                    </div>                                  
                                </EditForm>
                                <!-- /Register Form -->
                            }
                        </div>
                    </div>
                </div>
                <!-- /Account Content -->
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->
<style>

    .color {
        color: #FFFDFA;
    }

    .shadow {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin-bottom: 20px;
    }

    .btn.btn-round {
        border-radius: 2px;
    }

    .btn-border-d {
        background: transparent;
        border: 1px solid #111111;
        color: #111;
    }

    .btn {
        border-radius: 0;
        font-family: "Roboto Condensed", sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 11px;
        padding: 8px 37px;
    }

        .btn.btn-border-d:hover,
        .btn.btn-border-d:focus {
            background: #111111;
            color: #fff;
        }

    .btn-block {
        display: block;
        width: 100%;
    }

    a .btn {
        transition: all 0.125s ease-in-out 0s;
    }

    .module,
    .module-small {
        background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
        position: relative;
        padding: 140px 0;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
    }
    /* Module header */
    .module-small {
        padding: 70px 0;
    }

    .module-extra-small {
        padding: 25px 0px;
    }

    .module-medium {
        padding: 75px 0px;
    }



    .module-subtitle {
        text-align: center;
        font-size: 16px;
        color: #111;
        margin-bottom: 70px;
    }

    .module-icon {
        text-align: center;
        font-size: 32px;
        margin-bottom: 20px;
    }

    .module-title + .module-subtitle {
        margin-top: -35px;
    }

    .alt-module-subtitle {
        display: table;
    }

        .alt-module-subtitle h5 {
            display: table-cell;
            white-space: pre;
            padding: 0 8px;
            color: #111;
        }

    .module-title {
        position: relative;
        letter-spacing: 4px;
        text-align: center;
        font-weight: 400;
        font-size: 30px;
        color: #111;
        margin: 0 0 70px;
    }

        .module-title + .module-subtitle {
            margin-top: -35px;
        }
    /* Features Section
                                                                                    --------------------------------*/
    /*#features {
                                                                                      display: inline-block;
                                                                                      height: 100%;
                                                                                      width: 100%;
                                                                                    }*/
    #features .feature-block {
        background: #fff none repeat scroll 0 0;
        padding: 30px 20px;
        margin-bottom: 30px;
        transition: all 0.5s ease-in-out 0s;
    }

        #features .feature-block img {
            height: 60px;
            margin-bottom: 30px;
            width: 60px;
        }

        #features .feature-block:hover {
            box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
            transition: all 0.5s ease-in-out 0s;
        }

        #features .feature-block h4 {
            margin-bottom: 20px;
        }

        #features .feature-block p {
            margin-bottom: 0;
        }

    .padd-section {
        padding-bottom: 80px;
        padding-top: 80px;
    }

    .register {
        /*background: -webkit-linear-gradient(left, #3931af, #00c6ff);*/
        margin-top: 3%;
        padding: 3%;
    }

    .register-left {
        text-align: center;
        color: #fff;
        margin-top: 4%;
    }

        .register-left input {
            border: none;
            border-radius: 1.5rem;
            padding: 2%;
            width: 60%;
            background: #f8f9fa;
            font-weight: bold;
            color: #383d41;
            margin-top: 30%;
            margin-bottom: 3%;
            cursor: pointer;
        }

    .register-right {
        background: #f8f9fa;
        border-top-left-radius: 10% 50%;
        border-bottom-left-radius: 10% 50%;
    }

    .register-left img {
        margin-top: 15%;
        margin-bottom: 5%;
        width: 25%;
        -webkit-animation: mover 2s infinite alternate;
        animation: mover 1s infinite alternate;
    }

    .register-left p {
        font-weight: lighter;
        padding: 12%;
        margin-top: -9%;
    }

    .register .register-form {
        padding: 10%;
        margin-top: 10%;
    }

    .btnRegister {
        float: right;
        margin-top: 10%;
        border: none;
        border-radius: 1.5rem;
        padding: 2%;
        background: #0062cc;
        color: #fff;
        font-weight: 600;
        width: 50%;
        cursor: pointer;
    }

    .register .nav-tabs {
        margin-top: 3%;
        border: none;
        background: #0062cc;
        border-radius: 1.5rem;
        width: 28%;
        float: right;
    }

        .register .nav-tabs .nav-link {
            padding: 2%;
            height: 34px;
            font-weight: 600;
            color: #fff;
            border-top-right-radius: 1.5rem;
            border-bottom-right-radius: 1.5rem;
        }

            .register .nav-tabs .nav-link:hover {
                border: none;
            }

            .register .nav-tabs .nav-link.active {
                width: 100px;
                color: #0062cc;
                border: 2px solid #0062cc;
                border-top-left-radius: 1.5rem;
                border-bottom-left-radius: 1.5rem;
            }

    .register-heading {
        text-align: center;
        margin-top: 8%;
        margin-bottom: -15%;
        color: #495057;
    }

    .form-control:focus {
        border-color: #0000ff;
        box-shadow: inset 0 1px 1px rgba(0,0,255,1), 0 0 8px rgba(0,0,255,1);
    }
</style>
@code {

    private IEnumerable<TownViewModel>? towns;
    bool popup = false;
    private SubmitApplicationModel? model;
    HttpClient? client;

    private List<string> roles = new List<string>() { "Адвокат", "Нотариус" };

    protected override async Task OnInitializedAsync()
    {

        client = ClientFactory.CreateClient("LaweyrServices.Web.ServerAPI.NoAuthenticationClient");
        try
        {
            this.towns = await client.GetFromJsonAsync<IEnumerable<TownViewModel>>("SubmitАpplication");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        await base.OnInitializedAsync();

        model = new SubmitApplicationModel();

    }
    
    private async void HandleValidSubmit()
    {
        //var captcha = await JsRuntime.InvokeAsync<string>("getCaptcha");

        var response = await client.PostAsJsonAsync<SubmitApplicationModel>("SubmitАpplication", model);
        if (response.IsSuccessStatusCode)
        {
            navigationManager.NavigateTo($"/successedsubmit/{model.Names}");
        }
        // Process the valid form
    }
    void OnChange(object value, string name)
    {

        model.Town = value.ToString();

    }
}