@page "/appointments"

@using LaweyrServices.Web.Shared.WorkingTimeModels
@using Microsoft.AspNetCore.Authorization

@inject AuthenticationStateProvider authenticationStateProvider
@inject NavigationManager navigationManager


@layout Shared.AdministrationLayout

@inject HttpClient Http

<AuthorizeView Roles="Lawyer">
    <Authorized>
        <!-- Page Content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10 col-lg-11 col-xl-12">
                        <div class="card">
                            <div class="card-body pt-0">
                                <div class="tab-content pt-0">
                                     @if (wtexceptions == null)
                        {
                            <p>loading</p>
                        }
                        else if (!wtexceptions.Any())
                        {
                            <p>nqma zapis</p>
                        }
                        else
                        {
                            <RadzenDataGrid AllowFiltering="true"
                                        FilterMode="FilterMode.Simple" PageSize="5" AllowPaging="true" AllowSorting="true" Data="@wtexceptions" TItem="WorkingTimeExceptionBookingModel" ColumnWidth="150px"
                                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                        LogicalFilterOperator="LogicalFilterOperator.Or">
                                <Columns>

                                    <RadzenDataGridColumn TItem="WorkingTimeExceptionBookingModel" Title="Photo" Sortable="false" Filterable="false" Width="100px">
                                        <Template Context="data">
                                            <RadzenImage Path="@data.User.ImgUrl" style="width: 40px; height: 40px; border-radius: 8px;" />
                                        </Template>
                                    </RadzenDataGridColumn>
                                    <RadzenDataGridColumn TItem="WorkingTimeExceptionBookingModel" Property="FirstName" Title="FirstName" />
                                    <RadzenDataGridColumn TItem="WorkingTimeExceptionBookingModel" Property="LastName" Title="LastName" Width="150px" />
                                    <RadzenDataGridColumn TItem="WorkingTimeExceptionBookingModel" Property="PhoneNumber" Title="PhoneNumber" />
                                    <RadzenDataGridColumn TItem="WorkingTimeExceptionBookingModel" Property="StarFrom" Title="StarFrom" FormatString="{0:d}" />
                                    <RadzenDataGridColumn TItem="WorkingTimeExceptionBookingModel" Property="Email" Title="Email" />
                                    <RadzenDataGridColumn TItem="WorkingTimeExceptionBookingModel" Property="MoreInformation" Title="MoreInformation" />
                                    <RadzenDataGridColumn TItem="WorkingTimeExceptionBookingModel" Context="sampleBlazorModelsSampleOrder" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="120px">
                                        <Template Context="IsApproved">
                                            @if (IsApproved.IsApproved == false)
                                            {
                                                @* <RadzenButton Click=@(args => OnClick(IsApproved.Id)) Text="Приеми" ButtonStyle="ButtonStyle.Primary" />*@
                                                <a href="" @onclick="@(e => OnClick(IsApproved.Id))" class="btn btn-sm bg-success-light" @onclick:preventDefault>
                                                    <i class="far fa-edit"></i> Приеми
                                                </a>
                                            }
                                            else
                                            {
                                                <span class="badge badge-pill bg-primary inv-badge">Одобрена</span>
                                            }
                                        </Template>
                                    </RadzenDataGridColumn>
                                    <RadzenDataGridColumn TItem="WorkingTimeExceptionBookingModel" Context="sampleBlazorModelsSampleOrder" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="120px">
                                        <Template Context="IsApproved">
                                            @if (IsApproved.NotShowUp == false)
                                            {
                                                <a href="" @onclick="@(e => OnClickNotShowUp(IsApproved.Id))" class="btn btn-sm bg-success-light">
                                                    <i class="far fa-edit" @onclick:preventDefault></i> Неявил се
                                                </a>
                                            }
                                            else
                                            {
                                                <span class="badge badge-pill bg-danger inv-badge">Неявил се</span>
                                            }
                                        </Template>
                                    </RadzenDataGridColumn>
                                </Columns>
                            </RadzenDataGrid>

                        }
                        <!-- Appointment List -->

                        <div>
                            <h4 class="text-center">Заседания</h4>
                        </div>

                        @if (meetingModel == null)
                        {
                            <p>loading</p>
                        }
                        else if (!meetingModel.Any())
                        {
                            <p>nqma zapis</p>
                        }
                        else
                        {
                            <RadzenDataGrid AllowFiltering="true"
                                        FilterMode="FilterMode.Simple" PageSize="5" AllowPaging="true" AllowSorting="true" Data="@meetingModel" TItem="WorkingTimeExceptionMeetingViewModel" ColumnWidth="150px"
                                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                        LogicalFilterOperator="LogicalFilterOperator.Or">
                                <Columns>
                                    <RadzenDataGridColumn TItem="WorkingTimeExceptionMeetingViewModel" Property="Court" Title="Съд" />
                                    <RadzenDataGridColumn TItem="WorkingTimeExceptionMeetingViewModel" Property="TypeOfCase" Title="Вид" Width="150px" />
                                    <RadzenDataGridColumn TItem="WorkingTimeExceptionMeetingViewModel" Property="CaseNumber" Title="Номер   " />
                                    <RadzenDataGridColumn TItem="WorkingTimeExceptionMeetingViewModel" Property="StarFrom" Title="Дата" FormatString="{0:d}" />
                                    <RadzenDataGridColumn TItem="WorkingTimeExceptionMeetingViewModel" Property="SideCase" Title="Страна" />
                                    <RadzenDataGridColumn TItem="WorkingTimeExceptionMeetingViewModel" Property="MoreInformation" Title="Информация" />
                                </Columns>
                            </RadzenDataGrid>
                        }
                                </div>
                            </div>
                        </div>

                       
                        <!-- Appointment List -->

                    </div>
                </div>
            </div>
        </div>
        <!-- /Page Content -->
    </Authorized>
    <NotAuthorized>
        @{
            navigationManager.NavigateTo("/Profile");
        }
    </NotAuthorized>
</AuthorizeView>

@code {


    List<WorkingTimeExceptionBookingModel>? wtexceptions;
    IEnumerable<WorkingTimeExceptionMeetingViewModel>? meetingModel;
    [Parameter]
    public bool Aproved { get; set; } = false;


    protected override async Task OnInitializedAsync()
    {
        //          #if DEBUG
        //    await Task.Delay(10000);
        //#endif
        await base.OnInitializedAsync();

        //var response = Http.GetAsync("Lawyer/DeleteWorkingTimeExceptionWhenDateIsOver");
        wtexceptions = await Http.GetFromJsonAsync<List<WorkingTimeExceptionBookingModel>>("Appointment/GetAllRequsts");
        meetingModel = await Http.GetFromJsonAsync<IEnumerable<WorkingTimeExceptionMeetingViewModel>>("Appointment/GetAllMeeting");
    }
    async void OnClick(string Id)
    {
        var approvedResponse = await Http.PutAsJsonAsync("Appointment/PostApproved", Id);

        if (approvedResponse.IsSuccessStatusCode)
        {
            var wte = wtexceptions.FirstOrDefault(x => x.Id == Id);
            this.wtexceptions.Remove(wte);
            wte.IsApproved = true;
            this.wtexceptions.Add(wte);
            StateHasChanged();
        }
    }
    async void OnClickNotShowUp(string Id)
    {
        var response = await Http.PutAsJsonAsync("Appointment/PostNotShowUp", Id);
        if (response.IsSuccessStatusCode)
        {
            var wte = wtexceptions.FirstOrDefault(x => x.Id == Id);
            this.wtexceptions.Remove(wte);
            wte.NotShowUp = true;
            this.wtexceptions.Add(wte);
            StateHasChanged();
        }
    }
}
