@page "/dashboard"
@using LaweyrServices.Web.Client.Shared.Administration.Pages.Components
@using LaweyrServices.Web.Shared.DashboardModels
@using LaweyrServices.Web.Shared.WorkingTimeModels
@using LawyerServices.Common

@inject NavigationManager navigationManager
@inject AuthenticationStateProvider authenticationStateProvider
@inject HttpClient Http
@layout Shared.AdministrationLayout

<AuthorizeView Roles="Lawyer">
    <Authorized>
        <div class="content">
            <div class="container-fluid">
                @if (wtexceptions == null)
                {
                    <Spiner></Spiner>
                }
                else
                {
                    <div class="row">
                        <div class="col-md-10 col-lg-11 col-xl-12">
                            <div class="row">
                                <div class="col-xl-3 col-sm-6 col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="dash-widget-header">
                                                <span class="dash-widget-icon text-primary border-primary">
                                                    <i class="oi oi-people"></i>
                                                </span>
                                                <div class="dash-count">
                                                    <h3>@wtexceptions?.UsersCount</h3>
                                                </div>
                                            </div>
                                            <div class="dash-widget-info">
                                                <h6 class="text-muted">Клиенти</h6>
                                                <div class="progress progress-sm">
                                                    <div class="progress-bar bg-primary w-50"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-sm-6 col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="dash-widget-header">
                                                <span class="dash-widget-icon text-success">
                                                    <i class="fas fa-handshake"></i>
                                                </span>
                                                <div class="dash-count">
                                                    <h3>@wtexceptions?.ClientCount</h3>
                                                </div>
                                            </div>
                                            <div class="dash-widget-info">

                                                <h6 class="text-muted">Срещи</h6>
                                                <div class="progress progress-sm">
                                                    <div class="progress-bar bg-success w-50"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-sm-6 col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="dash-widget-header">
                                                <span class="dash-widget-icon text-danger border-danger">
                                                    <i class="fas fa-gavel"></i>
                                                </span>
                                                <div class="dash-count">
                                                    <h3>@wtexceptions?.MeetingtCount</h3>
                                                </div>
                                            </div>
                                            <div class="dash-widget-info">

                                                <h6 class="text-muted">Заседания</h6>
                                                <div class="progress progress-sm">
                                                    <div class="progress-bar bg-danger w-50"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-sm-6 col-12">
                                    @if (wtexceptions.IsOwner)
                                    {
                                        <div class="card" @onclick="LawFirm">
                                            <div class="card-body">
                                                <div class="dash-widget-header">
                                                    <span class="dash-widget-icon text-warning border-warning">
                                                        <i class="fas fa-laptop-house"></i>
                                                    </span>
                                                    <div class="dash-count">
                                                        <h3>Кантора</h3>
                                                    </div>
                                                </div>
                                                <div class="dash-widget-info">
                                                    <h6 class="text-muted"></h6>
                                                    <div class="progress progress-sm">
                                                        <div class="progress-bar bg-warning w-50"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-xl-6 col-sm-6 col-12">
                                    <RadzenTabs TabPosition="@tabPosition" RenderMode="TabRenderMode.Client">
                                        <Tabs>
                                            <RadzenTabsItem Text="Срещи за днес">
                                                <RadzenDataList PageSize="4" WrapItems="true" AllowPaging="true" Data="@todayWte" TItem="WorkingTimeExceptionBookingModel">
                                                    <Template Context="order">
                                                        <RadzenCard Style="width: 250px;">

                                                            <hr style="border: none; background-color: rgba(0,0,0,.08); height: 1px; margin: 1rem 0;" />
                                                            <div class="d-flex flex-row align-items-center">
                                                                <RadzenImage Path="@order.User.ImgUrl" Class="rounded-circle float-left mr-3" Style="width: 80px; height: 80px;" />
                                                                <div>
                                                                    <h4 class="mb-0">@(order.User?.FirstName + " " + order.User?.LastName)</h4>
                                                                    <div style="font-size: .8em">@(order.PhoneNumber)</div>
                                                                    <div style="font-size: .8em">@(order.StarFrom)</div>
                                                                    <div>@order.MoreInformation</div>
                                                                </div>
                                                            </div>
                                                        </RadzenCard>
                                                    </Template>
                                                </RadzenDataList>
                                            </RadzenTabsItem>
                                            <RadzenTabsItem Text="Предстоящи срещи">
                                                <RadzenDataList PageSize="4" WrapItems="true" AllowPaging="true" Data="@upcomingWte" TItem="WorkingTimeExceptionBookingModel">
                                                    <Template Context="order">
                                                        <RadzenCard Style="width: 250px;">

                                                            <hr style="border: none; background-color: rgba(0,0,0,.08); height: 1px; margin: 1rem 0;" />
                                                            <div class="d-flex flex-row align-items-center">
                                                                <RadzenImage Path="@order.User.ImgUrl" Class="rounded-circle float-left mr-3" Style="width: 80px; height: 80px;" />
                                                                <div>
                                                                    <h4 class="mb-0">@(order.User?.FirstName + " " + order.User?.LastName)</h4>
                                                                    <div style="font-size: .8em">@(order.PhoneNumber)</div>
                                                                    <div style="font-size: .8em">@(order.StarFrom)</div>
                                                                    <div>@order.MoreInformation</div>
                                                                </div>
                                                            </div>
                                                        </RadzenCard>
                                                    </Template>
                                                </RadzenDataList>
                                            </RadzenTabsItem>
                                        </Tabs>
                                    </RadzenTabs>
                                </div>
                                <div class="col-xl-6 col-sm-6 col-12">
                                    <RadzenTabs TabPosition="@tabPosition" RenderMode="TabRenderMode.Client">
                                        <Tabs>
                                            <RadzenTabsItem Text="Заседания за днес">
                                                <RadzenDataList PageSize="4" WrapItems="true" AllowPaging="true" Data="@todayMeeting" TItem="WorkingTimeExceptionBookingModel">
                                                    <Template Context="order">
                                                        <RadzenCard Style="width: 250px;">
                                                            <hr style="border: none; background-color: rgba(0,0,0,.08); height: 1px; margin: 1rem 0;" />
                                                            <div class="d-flex flex-row align-items-center">
                                                                <div>
                                                                    <div style="font-size: .8em">@(order.StarFrom)</div>
                                                                    <h5 style="font-size: .8em" class="mb-0">@(order.Court)</h5>
                                                                    <h4 style="font-size: .8em" class="mb-0">@(order.TypeOfCase + " / " + order.CaseNumber)</h4>
                                                                    <div style="font-size: .8em">Страна: @(order.SideCase)</div>
                                                                    <div>@order.MoreInformation</div>
                                                                </div>
                                                            </div>
                                                        </RadzenCard>
                                                    </Template>
                                                </RadzenDataList>
                                            </RadzenTabsItem>
                                        </Tabs>
                                    </RadzenTabs>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        @{
            navigationManager.NavigateTo("/notfound");
        }
    </NotAuthorized>
</AuthorizeView>

@code {
    int count;
    private LawyerDasboardViewModel? wtexceptions;
    TabPosition tabPosition = TabPosition.Top;

    private IEnumerable<WorkingTimeExceptionBookingModel>? todayWte;
    private IEnumerable<WorkingTimeExceptionBookingModel>? upcomingWte;
    private IEnumerable<WorkingTimeExceptionBookingModel>? upcomingMeeting;
    private IEnumerable<WorkingTimeExceptionBookingModel>? todayMeeting;

    protected override async Task OnInitializedAsync()
    {

        wtexceptions = await Http.GetFromJsonAsync<LawyerDasboardViewModel>($"Dashboard/GetAllRequestsByDayOfWeek"); //this.wteService.GetAllRequestsByDayOfWeek(UserId, searchDate).ToList();                                                                                                                                             //count = this.companyService.UsersCount(UserId);
        todayWte = wtexceptions?.wteModel?.Where(x => x.StarFrom.ToLocalTime() == DateTime.Now.ToLocalTime());
        upcomingWte = wtexceptions?.wteModel?.Where(x => x.StarFrom.ToLocalTime() > DateTime.Now.ToLocalTime());
        todayMeeting = wtexceptions?.meetingModel?.Where(x => x.StarFrom.Date == DateTime.Now.Date).OrderBy(x => x.StarFrom);
        await base.OnInitializedAsync();
    }

    void LawFirm()
    {
        NavigationManager.NavigateTo("/edit-law-firm");
    }
}