@page "/Profile"

@using System.IO
@using LaweyrServices.Web.Shared.AdministratioInputModels
@using LaweyrServices.Web.Shared.LawyerViewModels
@using LaweyrServices.Web.Shared.ProfileModels
@using Microsoft.Extensions.Logging

@inject NavigationManager navigationManager
@inject HttpClient Http


@layout Shared.AdministrationLayout


<AuthorizeView Context="authContext" Roles="Lawyer">
    <Authorized>

        <div class="content">
            <div class="container-fluid">

                <div class="row">

                    <div class="col-md-10 col-lg-11 col-xl-12">

                        <!-- Basic Information -->
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Basic Information</h4>
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="change-avatar">
                                                <div class="profile-img">
                                                    <img src="@lawyer?.ImgUrl" alt="User Image">
                                                </div>
                                                <div class="upload-img">

                                                    <div class="change-photo-btn">
                                                        <span><i class="fa fa-upload"></i> Промени снимката</span>

                                                        <InputFile class="upload" OnChange="@SingleUpload" />

                                                    </div>
                                                    <small class="form-text text-muted">Allowed JPG, GIF or PNG. Max size of 2MB</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @if (editLawyer == null)
                                    {
                                            <div>loading</div>
                                    }
                                    else
                                    {

                                                <EditForm class="form-row" Context="formContext" Model="@editLawyer" OnValidSubmit="@HandleValidSubmit">
                                                    <DataAnnotationsValidator />

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Имена <span class="text-danger">*</span></label>
                                                            <InputText @bind-Value="editLawyer.Names" class="form-control" />
                                                            <ValidationMessage For="@(() => editLawyer.Names)" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Уеб Сайт <span class="text-danger">*</span></label>
                                                            <InputText @bind-Value="editLawyer.WebSite" class="form-control" />
                                                            <ValidationMessage For="@(() => editLawyer.WebSite)" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Адрес <span class="text-danger">*</span></label>
                                                            <InputText @bind-Value="editLawyer.Address" class="form-control" />
                                                            <ValidationMessage For="@(() => editLawyer.Address)" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Телефон <span class="text-danger">*</span></label>
                                                            <InputText @bind-Value="editLawyer.PhoneNumber" class="form-control" />
                                                            <ValidationMessage For="@(() => editLawyer.PhoneNumber)" />
                                                        </div>
                                                    </div>
                                                   <div class="text-center">
                                <button class="btn btn-border-d btn-round btn-block" type="submit">Запази</button>
                            </div>
                                            @* <button type="submit">Submit</button>*@


                                                </EditForm>


                                    }

                                </div>
                            </div>
                        </div>
                        <!-- /Basic Information -->
                        <!-- About Me -->
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">About Me</h4>
                                <div class="form-group mb-0">
                                    <label>Biography</label>
                                    <textarea class="form-control" rows="5"></textarea>
                                </div>
                            </div>
                        </div>
                        <!-- /About Me -->
                        <!-- Clinic Info -->
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Clinic Info</h4>
                                <div class="row form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Clinic Name</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Clinic Address</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Clinic Images</label>
                                            <form action="#" class="dropzone"></form>
                                        </div>
                                        @*<div class="upload-wrap">
                                            <div class="upload-images">
                                            <img src="assets/img/features/feature-01.jpg" alt="Upload Image">
                                            <a href="javascript:void(0);" class="btn btn-icon btn-danger btn-sm"><i class="far fa-trash-alt"></i></a>
                                            </div>
                                            <div class="upload-images">
                                            <img src="assets/img/features/feature-02.jpg" alt="Upload Image">
                                            <a href="javascript:void(0);" class="btn btn-icon btn-danger btn-sm"><i class="far fa-trash-alt"></i></a>
                                            </div>
                                            </div>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Clinic Info -->
                        <!-- Contact Details -->
                        <div class="card contact-card">
                            <div class="card-body">
                                <h4 class="card-title">Contact Details</h4>
                                <div class="row form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Address Line 1</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Address Line 2</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">City</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">State / Province</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Country</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Postal Code</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Contact Details -->
                        <!-- Pricing -->
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Функции</h4>

                                <div class="form-group mb-0">
                                    <div id="pricing_select">
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <RadzenCheckBox @bind-Value=@checkBox1Value Name="CheckBox1" TValue="bool" Change=@(args => OnChange(args, "CheckBox1 CheckBox")) />
                                            <RadzenLabel Text="Безплатна първа консултация" Component="CheckBox1" Style="margin-left: 8px; vertical-align: middle;" />
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="price_custom" name="rating_option" value="custom_price" class="custom-control-input">
                                            <label class="custom-control-label" for="price_custom">Custom Price (per hour)</label>
                                        </div>
                                    </div>

                                </div>

                                <div class="row custom_price_cont" id="custom_price_cont" style="display: none;">
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="custom_rating_input" name="custom_rating_count" value="" placeholder="20">
                                        <small class="form-text text-muted">Custom price you can add</small>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- /Pricing -->
                        <!-- Services and Specialization -->
                        <div class="card services-card">
                            <div class="card-body">
                                <h4 class="card-title">Services and Specialization</h4>
                                <div class="form-group">
                                    <label>Services</label>
                                    <input type="text" data-role="tagsinput" class="input-tags form-control" placeholder="Enter Services" name="services" value="Tooth cleaning " id="services">
                                    <small class="form-text text-muted">Note : Type & Press enter to add new services</small>
                                </div>
                                <div class="form-group mb-0">
                                    <label>Specialization </label>
                                    <input class="input-tags form-control" type="text" data-role="tagsinput" placeholder="Enter Specialization" name="specialist" value="Children Care,Dental Care" id="specialist">
                                    <small class="form-text text-muted">Note : Type & Press  enter to add new specialization</small>
                                </div>
                            </div>
                        </div>
                        <!-- /Services and Specialization -->
                        <!-- Education -->
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Education</h4>
                                <div class="education-info">
                                    <div class="row form-row education-cont">
                                        <div class="col-12 col-md-10 col-lg-11">
                                            <div class="row form-row">
                                                <div class="col-12 col-md-6 col-lg-4">
                                                    <div class="form-group">
                                                        <label>Degree</label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6 col-lg-4">
                                                    <div class="form-group">
                                                        <label>College/Institute</label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6 col-lg-4">
                                                    <div class="form-group">
                                                        <label>Year of Completion</label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="add-more">
                                    <a href="javascript:void(0);" class="add-education"><i class="fa fa-plus-circle"></i> Add More</a>
                                </div>
                            </div>
                        </div>
                        <!-- /Education -->
                        <!-- Experience -->
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Experience</h4>
                                <div class="experience-info">
                                    <div class="row form-row experience-cont">
                                        <div class="col-12 col-md-10 col-lg-11">
                                            <div class="row form-row">
                                                <div class="col-12 col-md-6 col-lg-4">
                                                    <div class="form-group">
                                                        <label>Hospital Name</label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6 col-lg-4">
                                                    <div class="form-group">
                                                        <label>From</label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6 col-lg-4">
                                                    <div class="form-group">
                                                        <label>To</label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6 col-lg-4">
                                                    <div class="form-group">
                                                        <label>Designation</label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="add-more">
                                    <a href="javascript:void(0);" class="add-experience"><i class="fa fa-plus-circle"></i> Add More</a>
                                </div>
                            </div>
                        </div>
                        <!-- /Experience -->
                        <!-- Awards -->
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Awards</h4>
                                <div class="awards-info">
                                    <div class="row form-row awards-cont">
                                        <div class="col-12 col-md-5">
                                            <div class="form-group">
                                                <label>Awards</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-5">
                                            <div class="form-group">
                                                <label>Year</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="add-more">
                                    <a href="javascript:void(0);" class="add-award"><i class="fa fa-plus-circle"></i> Add More</a>
                                </div>
                            </div>
                        </div>
                        <!-- /Awards -->
                        <!-- Memberships -->
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Memberships</h4>
                                <div class="membership-info">
                                    <div class="row form-row membership-cont">
                                        <div class="col-12 col-md-10 col-lg-5">
                                            <div class="form-group">
                                                <label>Memberships</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="add-more">
                                    <a href="javascript:void(0);" class="add-membership"><i class="fa fa-plus-circle"></i> Add More</a>
                                </div>
                            </div>
                        </div>
                        <!-- /Memberships -->
                        <!-- Registrations -->
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Registrations</h4>
                                <div class="registrations-info">
                                    <div class="row form-row reg-cont">
                                        <div class="col-12 col-md-5">
                                            <div class="form-group">
                                                <label>Registrations</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-5">
                                            <div class="form-group">
                                                <label>Year</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="add-more">
                                    <a href="javascript:void(0);" class="add-reg"><i class="fa fa-plus-circle"></i> Add More</a>
                                </div>
                            </div>
                        </div>
                        <!-- /Registrations -->

                        <div class="submit-section submit-btn-bottom">
                            <button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </Authorized>
    <NotAuthorized>
        @{
            navigationManager.NavigateTo("/notfound", true);
        }
    </NotAuthorized>
</AuthorizeView>
<style>
    .btn.btn-round {
        border-radius: 2px;
    }

    .btn-border-d {
        background: transparent;
        border: 1px solid #111111;
        color: #111;
    }

    .btn {
        border-radius: 0;
        font-family: "Roboto Condensed", sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 11px;
        padding: 8px 37px;
    }

        .btn.btn-border-d:hover,
        .btn.btn-border-d:focus {
            background: #111111;
            color: #fff;
        }

    .btn-block {
        display: block;
        width: 100%;
    }

    a, .btn {
        transition: all 0.125s ease-in-out 0s;
    }
</style>


@code {

    private LawyerProfileViewModel? lawyer;
    bool checkBox1Value;
    private EditLawyerProfileModel editLawyer;
    protected override async Task OnInitializedAsync()
    {
        lawyer = await this.Http.GetFromJsonAsync<LawyerProfileViewModel>("Profile/GetLawyerProfileInformation");
        editLawyer = new EditLawyerProfileModel();
        editLawyer.Id = lawyer.Id;
        editLawyer.Names = lawyer.Names;
        editLawyer.Address = lawyer.Address;
        editLawyer.WebSite = lawyer.WebSite;
        editLawyer.PhoneNumber = lawyer.PhoneNumber;
        #if DEBUG
            await Task.Delay(10000);
        #endif


    }
    void NavigateTo()
    {
        //this.navigationManager.NavigateTo($"/lawyerbooking/{userId}");
    }
    //Todo: SetUserId to method
    async Task EditImage(InputFileChangeEventArgs args)
    {

        await this.Http.PostAsJsonAsync("Company/EditImage", args);


    }
    private async Task SingleUpload(InputFileChangeEventArgs e)
    {
        MemoryStream ms = new MemoryStream();
        await e.File.OpenReadStream().CopyToAsync(ms);
        var bytes = ms.ToArray();
        var name = e.File.Name;
        await this.Http.PostAsJsonAsync($"Company/EditImage?name={name}", bytes);
    }

    void OnChange(bool value, string name)
    {
        checkBox1Value = value;
    }
    public async void HandleValidSubmit()
    {
        await Http.PutAsJsonAsync("Profile/EditLawyerProfileInformation", editLawyer);
        // Process the valid form
    }

}
