@page "/service"
@using LaweyrServices.Web.Client.Shared.Administration.Pages.Components
@using LaweyrServices.Web.Shared.FixedCostModels
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager navigationManager
@inject HttpClient Http

@layout Shared.AdministrationLayout
<AuthorizeView Roles="Lawyer" Context="authContext">
    <Authorized>
        <div class="content">
            <div class="container-fluid">
                <div class="col-md-8 col-lg-9 col-xl-12">

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Услуги които предлагате</h4>
                                    <div class="profile-box">
                                        <div class="row">
                                           @if (featuresModel == null)
                                            {
                                                <p>loading</p>
                                            }
                                            else
                                            {
                                             <div class="col-sm-4 ">
                                                <div class="card marg shadow">
                                                    <div class="card-body">
                                                        <div class="form-check">
                                                            @* <input class="form-check-input" type="checkbox"  value="@featuresModel.FreeFirstAppointment" onclick="@(() => OnBind(featuresModel.FreeFirstAppointment, "Free" ))" checked>
                                                                <label class="form-check-label" for="flexCheckDefault">
                                                                Безплатна първа консултация <span style="color:#ff0000">*</span>
                                                                </label>*@
                                                            <RadzenCheckBox @bind-Value=@featuresModel.FreeFirstAppointment Name="CheckBox1" TValue="bool" Change=@(args => OnChange(args, "FreeFirstAppointment")) />
                                                            <RadzenLabel Text="Безплатна първа консултация" Component="featuresModel.FreeFirstAppointment" Style="margin-left: 8px; vertical-align: middle;" />
                                                        </div>
                                                        <hr />
                                                        <h6>Избирайки това поле информирате, че първата ви консултация е безплатна !</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 ">
                                                <div class="card marg shadow">
                                                    <div class="card-body">
                                                        <div class="form-check">
                                                            @*<input class="form-check-input" type="checkbox" value="item.Id" checked>
                                                                <label class="form-check-label" for="flexCheckDefault">
                                                                Без победа, без такса <span style="color:#ff0000">*</span>
                                                                </label>*@
                                                            <RadzenCheckBox @bind-Value=@featuresModel.NoWinNoFee Name="NoWinNoFee" TValue="bool" Change=@(args => OnChange(args, "NoWinNoFee")) />
                                                            <RadzenLabel Text="Без победа, без такса" Component="featuresModel.NoWinNoFee" Style="margin-left: 8px; vertical-align: middle;" />
                                                        </div>
                                                        <hr />
                                                        <h6>Избирайки това поле информирате, че ако не спечелите делото клиента не ви дължи нищо !</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 ">
                                                <div class="card marg shadow">
                                                    <div class="card-body">
                                                        <div class="form-check">
                                                            @*<input class="form-check-input" type="checkbox" value="item.Id" checked>
                                                                <label class="form-check-label" for="flexCheckDefault">
                                                                Фиксирана цена <span style="color:#ff0000">*</span>
                                                                </label>*@
                                                            <RadzenCheckBox @bind-Value=@featuresModel.FixedCost Name="FixedCost" TValue="bool" Change=@(args => OnChange(args, "FixedCost")) />
                                                            <RadzenLabel Text="Без победа, без такса" Component="featuresModel.FixedCost" Style="margin-left: 8px; vertical-align: middle;" />
                                                        </div>
                                                        <hr />
                                                        <h6>Избирайки това поле информирате, че предлагате някои услуги с фиксирана цена !</h6>
                                                    </div>
                                                </div>
                                            </div>

                                            }
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>

                                                            <th scope="col">Име</th>
                                                            <th scope="col">Цена</th>
                                                            <th scope="col">Промени</th>
                                                            <th scope="col">Изтрий</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (fixedCostModel?.Count() != null)
                                                        {
                                                            foreach (var item in fixedCostModel)
                                                            {
                                                                <tr>

                                                                    <td>@item?.Name</td>
                                                                    <td>@item?.Price.ToString()</td>
                                                                    <td> <button type="button" class="btn btn-warning btn-sm" @onclick="() => Modal.Open(item)">Промени</button></td>
                                                                    <td> <button type="button" class="btn btn-danger btn-sm" @onclick="() => OnDelete(item?.Id)">Изтрий</button></td>
                                                                </tr>
                                                            }
                                                        }


                                                    </tbody>
                                                </table>

                                            </div>
                                            <div class="col-md-6">
                                                <div class="card widget-profile pat-widget-profile shadow">
                                                    <div class="card-body">
                                                        <div class="login-header">
                                                            <h3 class="text-center">Въведете услуга с фиксирана цена</h3>
                                                        </div>
                                                        @if (model == null)
                                                        {
                                                            <div>loading</div>
                                                        }
                                                        else
                                                        {
                                                            <!-- Register Form -->
                                                            <EditForm Model="@model" OnValidSubmit="@HandleValidSubmit" class="form-group" enctype="multipart/form-data" Context="formContext">
                                                                <DataAnnotationsValidator />

                                                                <div class="form-group form-focus">
                                                                    <InputText class="form-control floating" id="names" placeholder="Вашите имена" @bind-Value="model.Name" />
                                                                    <ValidationMessage For="@(() => model.Name)" />
                                                                    <label class="focus-label">Име на услугата</label>
                                                                </div>

                                                                <div class="form-group form-focus mt-30">
                                                                    <InputNumber class="form-control" id="email" placeholder="Имейл" @bind-Value="model.Price" />
                                                                    <ValidationMessage For="@(() => model.Price)" />
                                                                    <label class="focus-label">Цена</label>
                                                                </div>
                                                                <button type="submit" class="btn btn-primary">Запази</button>
                                                                <button type="button" class="btn btn-secondary" onclick="@OnClear">Изчисти</button>
                                                                @*<button class="btn btn-primary btn-lg" type="submit">Signup</button>*@

                                                            </EditForm>
                                                            <!-- /Register Form -->
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label>Timing Slot Duration</label>
                                                    <select class="select form-control">
                                                        <option>-</option>
                                                        <option>15 mins</option>
                                                        <option selected="selected">30 mins</option>
                                                        <option>45 mins</option>
                                                        <option>1 Hour</option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="card schedule-widget mb-0">

                                                    <!-- Schedule Header -->
                                                    <div class="schedule-header">

                                                        <!-- Schedule Nav -->
                                                        <div class="schedule-nav">
                                                            <ul class="nav nav-tabs nav-justified">
                                                                <li class="nav-item">
                                                                    <a class="nav-link" data-toggle="tab" href="#slot_sunday">Sunday</a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a class="nav-link active" data-toggle="tab" href="#slot_monday">Monday</a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a class="nav-link" data-toggle="tab" href="#slot_tuesday">Tuesday</a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a class="nav-link" data-toggle="tab" href="#slot_wednesday">Wednesday</a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a class="nav-link" data-toggle="tab" href="#slot_thursday">Thursday</a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a class="nav-link" data-toggle="tab" href="#slot_friday">Friday</a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a class="nav-link" data-toggle="tab" href="#slot_saturday">Saturday</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <!-- /Schedule Nav -->

                                                    </div>
                                                    <!-- /Schedule Header -->
                                                    <!-- Schedule Content -->
                                                    <div class="tab-content schedule-cont">

                                                        <!-- Sunday Slot -->
                                                        <div id="slot_sunday" class="tab-pane fade">
                                                            <h4 class="card-title d-flex justify-content-between">
                                                                <span>Time Slots</span>
                                                                <a class="edit-link" data-toggle="modal" href="#add_time_slot"><i class="fa fa-plus-circle"></i> Add Slot</a>
                                                            </h4>
                                                            <p class="text-muted mb-0">Not Available</p>
                                                        </div>
                                                        <!-- /Sunday Slot -->
                                                        <!-- Monday Slot -->
                                                        <div id="slot_monday" class="tab-pane fade show active">
                                                            <h4 class="card-title d-flex justify-content-between">
                                                                <span>Time Slots</span>
                                                                <a class="edit-link" data-toggle="modal" href="#edit_time_slot"><i class="fa fa-edit mr-1"></i>Edit</a>
                                                            </h4>

                                                            <!-- Slot List -->
                                                            <div class="doc-times">
                                                                <div class="doc-slot-list">
                                                                    8:00 pm - 11:30 pm
                                                                    <a href="javascript:void(0)" class="delete_schedule">
                                                                        <i class="fa fa-times"></i>
                                                                    </a>
                                                                </div>
                                                                <div class="doc-slot-list">
                                                                    11:30 pm - 1:30 pm
                                                                    <a href="javascript:void(0)" class="delete_schedule">
                                                                        <i class="fa fa-times"></i>
                                                                    </a>
                                                                </div>
                                                                <div class="doc-slot-list">
                                                                    3:00 pm - 5:00 pm
                                                                    <a href="javascript:void(0)" class="delete_schedule">
                                                                        <i class="fa fa-times"></i>
                                                                    </a>
                                                                </div>
                                                                <div class="doc-slot-list">
                                                                    6:00 pm - 11:00 pm
                                                                    <a href="javascript:void(0)" class="delete_schedule">
                                                                        <i class="fa fa-times"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <!-- /Slot List -->

                                                        </div>
                                                        <!-- /Monday Slot -->
                                                        <!-- Tuesday Slot -->
                                                        <div id="slot_tuesday" class="tab-pane fade">
                                                            <h4 class="card-title d-flex justify-content-between">
                                                                <span>Time Slots</span>
                                                                <a class="edit-link" data-toggle="modal" href="#add_time_slot"><i class="fa fa-plus-circle"></i> Add Slot</a>
                                                            </h4>
                                                            <p class="text-muted mb-0">Not Available</p>
                                                        </div>
                                                        <!-- /Tuesday Slot -->
                                                        <!-- Wednesday Slot -->
                                                        <div id="slot_wednesday" class="tab-pane fade">
                                                            <h4 class="card-title d-flex justify-content-between">
                                                                <span>Time Slots</span>
                                                                <a class="edit-link" data-toggle="modal" href="#add_time_slot"><i class="fa fa-plus-circle"></i> Add Slot</a>
                                                            </h4>
                                                            <p class="text-muted mb-0">Not Available</p>
                                                        </div>
                                                        <!-- /Wednesday Slot -->
                                                        <!-- Thursday Slot -->
                                                        <div id="slot_thursday" class="tab-pane fade">
                                                            <h4 class="card-title d-flex justify-content-between">
                                                                <span>Time Slots</span>
                                                                <a class="edit-link" data-toggle="modal" href="#add_time_slot"><i class="fa fa-plus-circle"></i> Add Slot</a>
                                                            </h4>
                                                            <p class="text-muted mb-0">Not Available</p>
                                                        </div>
                                                        <!-- /Thursday Slot -->
                                                        <!-- Friday Slot -->
                                                        <div id="slot_friday" class="tab-pane fade">
                                                            <h4 class="card-title d-flex justify-content-between">
                                                                <span>Time Slots</span>
                                                                <a class="edit-link" data-toggle="modal" href="#add_time_slot"><i class="fa fa-plus-circle"></i> Add Slot</a>
                                                            </h4>
                                                            <p class="text-muted mb-0">Not Available</p>
                                                        </div>
                                                        <!-- /Friday Slot -->
                                                        <!-- Saturday Slot -->
                                                        <div id="slot_saturday" class="tab-pane fade">
                                                            <h4 class="card-title d-flex justify-content-between">
                                                                <span>Time Slots</span>
                                                                <a class="edit-link" data-toggle="modal" href="#add_time_slot"><i class="fa fa-plus-circle"></i> Add Slot</a>
                                                            </h4>
                                                            <p class="text-muted mb-0">Not Available</p>
                                                        </div>
                                                        <!-- /Saturday Slot -->

                                                    </div>
                                                    <!-- /Schedule Content -->

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <ModalFixedPrice @ref="Modal" OnDoneCallback="OnModalDone"></ModalFixedPrice>


    </Authorized>
    <NotAuthorized>
        @{
            navigationManager.NavigateTo("/Identity/Account/Login");
        }
    </NotAuthorized>
</AuthorizeView>
<style>
    .shadow {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .form-control:focus {
        border-color: #0000ff;
        box-shadow: inset 0 1px 1px rgba(0,0,255,1), 0 0 8px rgba(0,0,255,1);
    }

    .required:after {
        content: " *";
        color: red;
    }

</style>
@code {
    private FixedCostInputModel? model;

    private FeaturesInputModel? featuresModel;

    private ModalFixedPrice Modal { get; set; }

    [Parameter]
    public IEnumerable<FixedCostViewModel>? fixedCostModel { get; set; }

    protected override async Task OnInitializedAsync()
    {


        model = new FixedCostInputModel();
        //featuresModel = new FeaturesInputModel();
        //                    #if DEBUG
        //await Task.Delay(10000);
        //    #endif
        //todayCount = this.companyService.UsersTodayCount(UserId);
        try
        {
            var response = await Http?.GetFromJsonAsync<FixedCostAndFeaturesViewModel>($"Service/ServiceAndFeatures");

            this.fixedCostModel = response?.fixedCostViewModel;
            this.featuresModel = response?.featuresInputModel;

            await base.OnInitializedAsync();

        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
    private void OnModalDone(FixedCostViewModel? FCModel)
    {

        var model = this.fixedCostModel.Where(x => x.Id == FCModel.Id).FirstOrDefault();
        fixedCostModel.ToList().Remove(model);
        fixedCostModel.ToList().Add(FCModel);
    }
    private async Task HandleValidSubmit()
    {
        var response = await Http.PostAsJsonAsync("Service/PostFixedCost", model);

        if (response.IsSuccessStatusCode)
        {
            var newresponse = await Http?.GetFromJsonAsync<FixedCostAndFeaturesViewModel>($"Service/ServiceAndFeatures");

            fixedCostModel = newresponse?.fixedCostViewModel;
            model = new FixedCostInputModel();
            StateHasChanged();
        }

        // Process the valid form
    }
    void OnChange(bool? value, string name)
    {
        var response = this.Http.PutAsJsonAsync<FeaturesInputModel>("Service/UpdateFeatures", featuresModel);
        StateHasChanged();
    }
    void OnClear()
    {
        model = new FixedCostInputModel();
        StateHasChanged();
    }
    async void OnDelete(string serviceId)
    {
        var response = await Http.DeleteAsync($"Service/DeleteFixedCost?serviceId={serviceId}");
        if (response.IsSuccessStatusCode)
        {
            var responses = await Http?.GetFromJsonAsync<FixedCostAndFeaturesViewModel>($"Service/ServiceAndFeatures");
            fixedCostModel = responses?.fixedCostViewModel;
            StateHasChanged();
        }

    }
}
