@page "/lawyers"
@page "/lawyers/{SearchByTown}"
@page "/lawyers/{SearchByTown}/{SearchByArea}"

@using LawyerServices.Common.AministrationViewModels
@using LawyerServices.Common.AreasOfActivityViewModels
@using LawyerServices.Common.LawyerViewModels
@using LawyerServices.Services.Data
@using LawyerServices.Services.Data.AdminServices.AreasOfActivityServices
@using LawyerServices.Web.QueryManipulator

@inject ITownService townService
@inject IAreasOfActivityService areaService
@inject ISearchService searchService

@*<div class="content marg">
    <div class="container-fluid">

    <div class="row">
    <div class="col-md-12 col-lg-4 col-xl-3 theiastickysidebar">

    <!-- search filter -->
    <div class="card search-filter">
    <div class="card-header">
    <h4 class="card-title mb-0">search filter</h4>
    </div>
    <div class="card-body">
    <div class="filter-widget">
    <div class="cal-icon">
    <radzendropdown allowclear="false" tvalue="string" placeholder="@searchbytown" class="w-100"
    data=@(towns.select(c => c.name).distinct())
    change=@(args => onchange(args, "dropdown")) />
    </div>
    </div>
    <div class="filter-widget">
    <div class="cal-icon">
    <radzendropdown allowclear="false" tvalue="string" placeholder="@searchbyarea" class="w-100"
    data=@(areas.select(c => c.name).distinct())
    change=@(args => onchangearea(args, "dropdown")) />
    </div>
    </div>
    <div class="filter-widget">
    <h4>select specialist</h4>
    <div>
    <label class="custom_check">
    <input type="checkbox" name="select_specialist" checked>
    <span class="checkmark"></span> urology
    </label>
    </div>
    <div>
    <label class="custom_check">
    <input type="checkbox" name="select_specialist" checked>
    <span class="checkmark"></span> neurology
    </label>
    </div>
    <div>
    <label class="custom_check">
    <input type="checkbox" name="select_specialist">
    <span class="checkmark"></span> dentist
    </label>
    </div>
    <div>
    <label class="custom_check">
    <input type="checkbox" name="select_specialist">
    <span class="checkmark"></span> orthopedic
    </label>
    </div>
    <div>
    <label class="custom_check">
    <input type="checkbox" name="select_specialist">
    <span class="checkmark"></span> cardiologist
    </label>
    </div>
    <div>
    <label class="custom_check">
    <input type="checkbox" name="select_specialist">
    <span class="checkmark"></span> cardiologist
    </label>
    </div>
    </div>
    <div class="btn-search">
    <button type="button" class="btn btn-block">search</button>
    </div>
    </div>
    </div>


    </div>

    <div class="col-md-12 col-lg-8 col-xl-9">

    @if (!lawyers.any())
    {

    <radzencard class="m-3">
    <h3 class="h5">не открихме адвокати отговарящи на вашите критерии</h3>

    </radzencard>
    }

    @foreach (var lawyer in lawyers)
    {

    <div class="card">
    <div class="card-body">
    <div class="doctor-widget">
    <div class="doc-info-left">
    <div class="doctor-img">
    <a href="doctor-profile.html">
    <img src="@lawyer.imgurl" class="img-fluid" alt="user image">
    </a>
    </div>
    <div class="doc-info-cont">
    <h4 class="doc-name"><a href="" @onclick="() => onfolow(lawyer.id)" @onclick:preventdefault>@lawyer.names</a></h4>
    <p class="doc-speciality">mds - periodontology and oral implantology, bds</p>
    <h5 class="doc-department"><img src="/images/lawyer-1.png" class="img-fluid" width="19" height="19" alt="speciality">dentist</h5>
    <div class="rating">
    <radzenrating readonly="true" stars="5" value="4" />
    <span class="d-inline-block average-rating">(17)</span>
    </div>
    <div class="clinic-details">
    <p class="doc-location"><i class="oi oi-marker"></i>@lawyer.address</p>

    </div>
    <div class="clinic-services">
    @foreach (var item in lawyer.areascompanies)
    {
    <span>@item.areasofactivity.name</span>
    }

    </div>
    </div>
    </div>
    <div class="doc-info-right">
    <div class="clini-infos">
    <ul>
    <li><i class="oi oi-thumb-up"></i> 98%</li>
    <li><i class="oi oi-thumb-up"></i> 17 feedback</li>
    <li><i class="oi oi-map-marker"></i> florida, usa</li>
    <li><i class="oi oi-thumb-up"></i> $300 - $1000 <i class="oi oi-marker" data-toggle="tooltip" title="lorem ipsum"></i> </li>
    </ul>
    </div>
    <div class="clinic-booking">
    <a class="view-pro-btn" href="" @onclick="() => onfolow(lawyer.id)" @onclick:preventdefault>view profile</a>
    <a class="apt-btn" href="booking.html">book appointment</a>
    </div>
    </div>
    </div>
    </div>
    </div>
    }
    </div>
    </div>
    </div>
    </div>*@
<div class="content marg">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12 col-lg-4 col-xl-3 theiaStickySidebar">

                <!-- Search Filter -->
                <div class="card search-filter">
                    <div class="card-header">
                        <h4 class="card-title mb-0">Search Filter</h4>
                    </div>
                    <div class="card-body">
                        <div class="filter-widget">
                            <RadzenDropDown AllowClear="true" TValue="string" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowFiltering="true" Class="w-100"
                                            Placeholder="@town" Data=@towns TextProperty="Name" ValueProperty="Name" Change=@(args => OnChange(args, "DropDown with placeholder")) />
                            @*<RadzenDropDown AllowClear="false" TValue="string" Placeholder="@SearchByTown" Class="w-100"
                                Data=@(towns.Select(c => c.Name).Distinct())
                                Change=@(args => OnChange(args, "DropDown")) />*@
                        </div>
                        <div class="filter-widget">
                            <RadzenDropDown AllowClear="false" TValue="string" Placeholder="@area" Class="w-100"
                                            Data=@(areas.Select(c => c.Name).Distinct())
                                            Change=@(args => OnChangeArea(args, "DropDown")) />

                        </div>
                        <div class="filter-widget">
                            <h4>Select Specialist</h4>
                            <div>
                                <label class="custom_check">
                                    <input type="checkbox" name="select_specialist" checked>
                                    <span class="checkmark"></span> Urology
                                </label>
                            </div>
                            <div>
                                <label class="custom_check">
                                    <input type="checkbox" name="select_specialist" checked>
                                    <span class="checkmark"></span> Neurology
                                </label>
                            </div>
                            <div>
                                <label class="custom_check">
                                    <input type="checkbox" name="select_specialist">
                                    <span class="checkmark"></span> Dentist
                                </label>
                            </div>
                            <div>
                                <label class="custom_check">
                                    <input type="checkbox" name="select_specialist">
                                    <span class="checkmark"></span> Orthopedic
                                </label>
                            </div>
                            <div>
                                <label class="custom_check">
                                    <input type="checkbox" name="select_specialist">
                                    <span class="checkmark"></span> Cardiologist
                                </label>
                            </div>
                            <div>
                                <label class="custom_check">
                                    <input type="checkbox" name="select_specialist">
                                    <span class="checkmark"></span> Cardiologist
                                </label>
                            </div>
                        </div>
                        <div class="btn-search">
                            <button type="button" @onclick="OnSearch" class="btn btn-block">Search</button>
                        </div>
                    </div>
                </div>


            </div>

            <div class="col-md-12 col-lg-8 col-xl-9">

                @if (!lawyers.Any())
                {

                    <RadzenCard class="m-3">
                        <h3 class="h5">Не открихме адвокати отговарящи на вашите критерии</h3>

                    </RadzenCard>
                }
                <RadzenDataList WrapItems="true" AllowPaging="false" Data="@lawyers" TItem="LawyerListItem">
                    <Template Context="lawyerslistitem">
                        <div class="card">
                            <div class="card-body">
                                <div class="doctor-widget">
                                    <div class="doc-info-left">
                                        <div class="doctor-img">
                                            <a href="doctor-profile.html">
                                                <img src="@lawyerslistitem.ImgUrl" class="img-fluid" alt="user image">
                                            </a>
                                        </div>
                                        <div class="doc-info-cont">
                                            <h4 class="doc-name"><a href="" @onclick="() => OnFolow(lawyerslistitem.Id)">@lawyerslistitem.Names</a></h4>
                                            <p class="doc-speciality">mds - periodontology and oral implantology, bds</p>
                                            <h5 class="doc-department"><img src="/images/lawyer-1.png" class="img-fluid" width="19" height="19" alt="speciality">dentist</h5>
                                            <div class="rating">
                                                <radzenrating readonly="true" stars="5" value="4" />
                                                <span class="d-inline-block average-rating">(17)</span>
                                            </div>
                                            <div class="clinic-details">
                                                <p class="doc-location"><i class="oi oi-marker"></i>@lawyerslistitem.Address</p>

                                            </div>
                                            <div class="clinic-services">
                                                @foreach (var item in lawyerslistitem.AreasCompanies)
                                                {
                                                    <span>@item.AreasOfActivity.Name</span>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                    <div class="doc-info-right">
                                        <div class="clini-infos">
                                            <ul>
                                                <li><i class="oi oi-thumb-up"></i> 98%</li>
                                                <li><i class="oi oi-thumb-up"></i> 17 feedback</li>
                                                <li><i class="oi oi-map-marker"></i> florida, usa</li>
                                                <li><i class="oi oi-thumb-up"></i> $300 - $1000 <i class="oi oi-marker" data-toggle="tooltip" title="lorem ipsum"></i> </li>
                                            </ul>
                                        </div>
                                        <div class="clinic-booking">
                                            <a class="view-pro-btn" href="" @onclick="() => OnFolow(lawyerslistitem.Id)">view profile</a>
                                            <a class="apt-btn" href="booking.html">book appointment</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </Template>
                </RadzenDataList>
                <RadzenPager ShowPagingSummary="false" HorizontalAlign="HorizontalAlign.Center" Count="count" PageSize="@pageSize" PageNumbersCount="5" PageChanged="@PageChanged" />

            </div>
        </div>
    </div>
</div>

<style>
    .marg {
        margin-top: 80px;
        margin-bottom: 120px;
    }

    .containershadow {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }

    .shading {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        background-color: #00BFFF;
    }

</style>

@code {
    int pageSize = 6;
    int count;
    string pagingSummaryFormat = "Displaying page {0} of {1} (total {2} records)";
    [Parameter]
    public string? SearchByTown { get; set; } = null;

    [Parameter]
    public string? SearchByArea { get; set; } = null;
    string lawyerId;
    string name;

    string? town;
    string? area;


    private IEnumerable<TownViewModel> towns;
    private IEnumerable<LawyerListItem> lawyers;
    private IEnumerable<AreasOfActivityViewModel> areas;

    void PageChanged(PagerEventArgs args)
    {
        lawyers = GetOrders(args.Skip, args.Top);
    }

    IEnumerable<LawyerListItem> GetOrders(int skip, int take)
    {
        return this.searchService.Search(name, town, area).Result.Skip(skip).Take(take).ToList();
    }
    protected override async Task OnInitializedAsync()
    {
        this.areas = this.areaService.GetAll<AreasOfActivityViewModel>();
        this.towns = this.townService.GetAll<TownViewModel>();
        var exist = towns.Any(t => t.Name == SearchByTown);
        if (!exist)
        {
            area = SearchByTown;
            town = null;
            SearchByArea = SearchByTown;
        }
        else
        {
            town = SearchByTown;
            area = SearchByArea;
        }
        await base.OnInitializedAsync();
        count = this.searchService.Search(name, town, area).Result.Count();
        lawyers = GetOrders(0, pageSize);
    }

    void OnChangeArea(object value, string name)
    {
        area = value.ToString();
        SearchByArea = value.ToString();
    }
    void OnChange(object value, string name)
    {
        town = value.ToString();
        SearchByTown = value.ToString();
    }
    void OnFolow(string id)
    {
        this.NavigationManager.NavigateTo($"/lawyer/{id}");
    }
    void OnSearch()
    {
        var exist = towns.Any(t => t.Name == SearchByTown);
        if (!exist)
        {
            SearchByTown = area;
            this.NavigationManager.NavigateTo($"lawyers/{SearchByTown}");
        }
        else
        {
            this.NavigationManager.NavigateTo($"lawyers/{SearchByTown}/{SearchByArea}");
        }
        

        lawyers = this.searchService.Search(name, town, area).Result;
    }
}
